{% extends 'events/base_event.html' %}
{% load static %}
{% block content %}
  <main id="main">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container animate__animated animate__fadeInUp">
      <h1><p>Upcoming Events</p></h1>
    </div>
<!-- Main -->
<div class="container">
  <div class="container">
    <div class="row">
      {% for ue in upcomingevent %}
      <div class="col-sm">
        <section class="portfolio-details container animate__animated animate__fadeInUp shadow-lg p-3 mb-5 bg-white rounded">
          <div class="container">
    
            <div class="portfolio-details-container">
    
              <div class="owl-carousel portfolio-details-carousel">
                <img src="{{ ue.image1.url }}" class="img-fluid" alt=" ">
                <img src="{{ ue.image2.url }}" class="img-fluid" alt=" ">
                <img src="{{ ue.image3.url }}" class="img-fluid" alt=" ">
              </div>
    
              
    
            </div>
    
            <div class="portfolio-description">
              <h2>{{ ue.event_name }}</h2>
              <p>
                {{ ue.about_event }}
              </p>
            </div>
          </div>
        </section>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container animate__animated animate__fadeInUp">
    <h1><p>Other Events</p></h1>
  </div>



  <div class="row">
    {% for oe in otherevent %}
    <div class="col-md-4"><section class="portfolio-details container animate__animated animate__fadeInUp shadow-lg p-3 mb-5 bg-white rounded">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{{ oe.img1.url }}" class="img-fluid" alt="">
            <img src="{{ oe.img2.url }}" class="img-fluid" alt="">
            <img src="{{ oe.img3.url }}" class="img-fluid" alt="">
          </div>

          

        </div>

        <div class="portfolio-description">
          <h2>{{oe.eventname}}</h2>
          <p>
            {{oe.aboutevent}}
          </p>
        </div>
      </div>
    </section></div>
    {% endfor %}
  </div> 
</div>
<br>
<br>
{% endblock %}