{% extends 'events/base_event.html' %}
{% load static %}
{% block content %}
<!--
{%if oe_count or ue_count or ae_count%}
<div>
    <ul class="nav nav-menu justify-content-center bg-dark fixed-top" style="margin-top: 90px;">
        {%if oe_count %}
        <li class="nav-item">
            <a class="nav-link active" href="#event-type-oe">Ongoing Events</a>
        </li>
        {% endif %}
        {%if ue_count %}
        <li class="nav-item">
            <a class="nav-link" href="#event-type-ue">Upcoming Events</a>
        </li>
        {%endif%}
        {%if ae_count%}
        <li class="nav-item">
            <a class="nav-link" href="#event-type-all">All Events</a>
        </li>
        {%endif%}
    </ul>
</div>
{% endif %} -->

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<style>
    
    
    
    a.morelink {
        text-decoration:none;
        outline: none;
    }
    .morecontent span {
        display: none;
    
    }

    
    
</style>





    <div id="event-type-oe" style="padding-top: 150px;">
        {%if oe_count%}
        <header class="section-header">
            <h3 style="z-index: 10;" id="oe">Ongoing Events</h3>
        </header>
        <div class="container">
        <div class="row">
            {% for oe in oe %}
            <div class="col-md-4"><section class="portfolio-details animate__animated animate__fadeInUp shadow-lg p-3 mb-5 bg-white rounded">
            <div class="container">
        
                <div class="portfolio-details-container">
                <div class="portfolio-details-carousel">
                        <img src="{{ oe.image.url }}" class="img-fluid"  style="width: 300px; height: 200px; " alt="">
                    </div>          
                </div>
        
                <div class="portfolio-description">
                <h2 style="font-size: 22px;">{{oe.event_name}}</h2>
                <p class="pop">
                    {{oe.about_event}}
                </p>
                </div>
            </div>
            {% if oe.registration_link%}
            <div class="text-center">
                <a href="{{oe.registration_link}}" target="blank" class="btn btn-primary stretched-link">Register for {{oe.event_name}}</a>
            </div>
            {%endif%}
            </section></div>
            {% endfor %}
        </div> 
        </div>
        </div>
        {%endif%}
    </div>

   


    <div id="event-type-ue" style="padding-top: 150px;">
        {%if ue_count%}
        <header class="section-header">
            <h3 style="z-index: 10;" id="ue">Upcoming Events</h3>
        </header>
        <div class="container">
        <div class="row">
            {% for ue in ue %}
            <div class="col-md-4"><section class="portfolio-details animate__animated animate__fadeInUp shadow-lg p-3 mb-5 bg-white rounded">
            <div class="container">
        
                <div class="portfolio-details-container">
                <div class="portfolio-details-carousel">
                        <img src="{{ ue.image.url }}" class="img-fluid"  style="width: 300px; height: 200px; " alt="">
                    </div>          
                </div>
        
                <div class="portfolio-description">
                <h2 style="font-size: 22px;">{{ue.event_name}}</h2>
                <p class="pop">
                    {{ue.about_event}}
                </p>
                </div>
            </div>
            {% if ue.registration_link%}
            <div class="text-center">
                <a href="{{ue.registration_link}}" target="blank" class="btn btn-primary stretched-link">Participate in {{ue.event_name}}</a>
            </div>
            {% endif %}
            </section></div>
            {% endfor %}
        </div> 
        </div>
        </div>
        {%endif%}
    </div>
    <div id="event-type-all" style="padding-top: 150px;">
        {%if ae_count%}
        <header class="section-header" >
            <h3 style="z-index: 10;" id="ae">All Events</h3>
        </header>
        <div class="container">
        <div class="row">
            {% for ae in ae %}
            <div class="col-md-4"><section class="portfolio-details animate__animated animate__fadeInUp shadow-lg p-3 mb-5 bg-white rounded">
            <div class="container">
        
                <div class="portfolio-details-container">
                <div class="portfolio-details-carousel">
                        <img src="{{ ae.image.url }}" class="img-fluid"  style="width: 300px; height: 200px; " alt="">
                    </div>          
                </div>
        
                <div class="portfolio-description">
                <h2 style="font-size: 22px;">{{ae.event_name}}</h2>
                <p class="pop">
                    {{ae.about_event}}
                </p>
                </div>
            </div>
            </section></div>
            {% endfor %}
        </div> 
        </div>
        </div>
      {%endif%}
    </div> 
<br>
{% endblock %}