{% extends 'events/base_event.html' %} {% load static %} {% block content %}

<!-- jQuery plugins  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- sub-navbar -->
<div class="sub-nav">
    <ul class="nav sub-nav-menu justify-content-center bg-dark fixed-top" style="margin-top: 90px;">
        <li>
            <button id="hamb">
                <i class="fa fa-ellipsis-v" id="subnav-icon"></i>
            </button>
        </li>
        <div id="visible">
            <li class="subnav-item">
                <a class="subnav-link active" href="#event-type-oe">Ongoing Events</a>
            </li>
            <li class="subnav-item">
                <a class="subnav-link" href="#event-type-ue">Upcoming Events</a>
            </li>
            <li class="subnav-item">
                <a class="subnav-link" href="#event-type-all">All Events</a>
            </li>
        </div>
    </ul>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
<style>
    a.morelink {
        text-decoration: none;
        outline: none;
    }
    
    .morecontent span {
        display: none;
    }
</style>




<!-- events -->
<div id="event-type-oe" style="margin-top: -80px;">

    <header class="section-header">
        <h3 style="z-index: 10;" id="oe">Ongoing Events</h3>
    </header>

    <div class="container">
        {%if oe_count%}
        <div class="row">
            {% for oe in oe %}
            <div class="col-md-4">
                <section class="portfolio-details animate__animated animate__fadeInUp shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="container">
                        <div class="portfolio-details-container">
                            <div class="portfolio-details-carousel">
                                <img src="{{ oe.poster.url }}" class="img-fluid" style="width: 300px; height: 200px; " alt="">
                            </div>
                        </div>
                        <div class="portfolio-description">
                            <h2 class="card-title-event" id="event-name" style="white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;font-size: calc(4vw + 4vh + 2vmin);">{{oe.event_name}}</h2>
                        </div>
                        <form action="{% url 'showevent' oe.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-eve-eve">View event</button>
                        </form>
                        <button type="submit" class="btn btn-success btn-eve-reg"><a href="{{oe.registration_link}}" target="blank">Register Now</a></button>
                </section>
            </div>
            {% endfor %}
        </div>
        {%else%}
        <div class="default_display">
            <p class="event_font">Next Event will be <span style="color: var(--theme-color);font-size: 29px;font-weight: 600;">LIVE</span> in:</p>
            <div id="countdown">
                <div class="contain">
                    <svg width="150px" height="150px" viewBox="0 0 150 150">
                        <g fill="none" stroke-width="6">
                            <circle cx="75" cy="75" r="50" fill="transparent" stroke="var(--theme-color)" opacity="0.1" />
                            <circle id="oedayss" cx="75" cy="75" r="50" stroke="var(--theme-color)"
                                transform="rotate(-90 75 75)" />
                        </g>
                        <span id="oedays" class="inside"></span>
                    </svg>
                    <span class="extra">DAYS</span>
                </div>
                <div class="contain">
                    <svg width="150px" height="150px" viewBox="0 0 150 150">
                        <g fill="none" stroke-width="6">
                            <circle cx="75" cy="75" r="50" fill="transparent" stroke="var(--theme-color)" opacity="0.1" />
                            <circle id="oehourss" cx="75" cy="75" r="50" stroke="var(--theme-color)"
                                transform="rotate(-90 75 75)" />
                        </g>
                        <span id="oehours" class="inside"></span>
                    </svg>
                    <span class="extra">HOURS</span>
                </div>
                <div class="contain">
                    <svg width="150px" height="150px" viewBox="0 0 150 150">
                        <g fill="none" stroke-width="6">
                            <circle cx="75" cy="75" r="50" fill="transparent" stroke="var(--theme-color)" opacity="0.1" />
                            <circle id="oeminutess" cx="75" cy="75" r="50" stroke="var(--theme-color)"
                                transform="rotate(-90 75 75)" />
                        </g>
                        <span id="oeminutes" class="inside"></span>
                    </svg>
                    <span class="extra">MINUTES</span>
                </div>
                <div class="contain">
                    <svg width="150px" height="150px" viewBox="0 0 150 150">
                        <g fill="none" stroke-width="6">
                            <circle cx="75" cy="75" r="50" fill="transparent" stroke="var(--theme-color)" opacity="0.1" />
                            <circle id="oesecondss" cx="75" cy="75" r="50" stroke="var(--theme-color)"
                                transform="rotate(-90 75 75)" />
                        </g>
                        <span id="oeseconds" class="inside"></span>
                    </svg>
                    <span class="extra">SECONDS</span>
                </div>
            </div>
        </div>
        {%endif%}
    </div>
</div>
</div>



<div id="event-type-ue" style="margin-top: -80px;padding-top: 170px;">

    <header class="section-header">
        <h3 style="z-index: 10;" id="ue">Upcoming Events</h3>
    </header>
    <div class="container">
        {%if ue_count%}
        <div class="row">
            {% for ue in ue %}
            <div class="col-md-4">
                <section class="portfolio-details animate__animated animate__fadeInUp shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="container">

                        <div class="portfolio-details-container">
                            <div class="portfolio-details-carousel">
                                <img src="{{ ue.poster.url }}" class="img-fluid" style="width: 300px; height: 200px; " alt="">
                            </div>
                        </div>

                        <div class="portfolio-description">
                            <h2 class="card-title-event" id="event-name" style="white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;font-size: calc(4vw + 4vh + 2vmin);">{{ue.event_name}}</h2>
                        </div>
                        <form action="{% url 'showevent' ue.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-eve-eve" >View Event</button>
                        </form>
                        <button type="submit" class="btn btn-success btn-eve-reg"><a href="{{ue.registration_link}}" target="blank">Register Now</a></button>
                </section>
            </div>
            {% endfor %}
        </div>
        {%else%}
        <div class="default_display">
            <p class="event_font">Next Event <span style="color: var(--theme-color);font-size: 29px;font-weight: 600;">REGISTRATION</span> starts in:</p>
            <div id="countdown">
                <div class="contain">
                    <svg width="150px" height="150px" viewBox="0 0 150 150">
                        <g fill="none" stroke-width="6">
                            <circle cx="75" cy="75" r="50" fill="transparent" stroke="var(--theme-color)" opacity="0.1" />
                            <circle id="uedayss" cx="75" cy="75" r="50" stroke="var(--theme-color)"
                                transform="rotate(-90 75 75)" />
                        </g>
                        <span id="uedays" class="inside"></span>
                    </svg>
                    <span class="extra">DAYS</span>
                </div>
                <div class="contain">
                    <svg width="150px" height="150px" viewBox="0 0 150 150">
                        <g fill="none" stroke-width="6">
                            <circle cx="75" cy="75" r="50" fill="transparent" stroke="var(--theme-color)" opacity="0.1" />
                            <circle id="uehourss" cx="75" cy="75" r="50" stroke="var(--theme-color)"
                                transform="rotate(-90 75 75)" />
                        </g>
                        <span id="uehours" class="inside"></span>
                    </svg>
                    <span class="extra">HOURS</span>
                </div>
                <div class="contain">
                    <svg width="150px" height="150px" viewBox="0 0 150 150">
                        <g fill="none" stroke-width="6">
                            <circle cx="75" cy="75" r="50" fill="transparent" stroke="var(--theme-color)" opacity="0.1" />
                            <circle id="ueminutess" cx="75" cy="75" r="50" stroke="var(--theme-color)"
                                transform="rotate(-90 75 75)" />
                        </g>
                        <span id="ueminutes" class="inside"></span>
                    </svg>
                    <span class="extra">MINUTES</span>
                </div>
                <div class="contain">
                    <svg width="150px" height="150px" viewBox="0 0 150 150">
                        <g fill="none" stroke-width="6">
                            <circle cx="75" cy="75" r="50" fill="transparent" stroke="var(--theme-color)" opacity="0.1" />
                            <circle id="uesecondss" cx="75" cy="75" r="50" stroke="var(--theme-color)"
                                transform="rotate(-90 75 75)" />
                        </g>
                        <span id="ueseconds" class="inside"></span>
                    </svg>
                    <span class="extra">SECONDS</span>
                </div>
            </div>
        </div>
        {%endif%}
    </div>
</div>
</div>
<div id="event-type-all" style="margin-top: -80px;padding-top: 170px;">
    {%if ae_count%}
    <header class="section-header">
        <h3 style="z-index: 10;" id="ae">All Events</h3>
    </header>
    <div class="container">
        <div class="row">
            {% for ae in ae %}
            <div class="col-md-4">
                <section class="portfolio-details animate__animated animate__fadeInUp shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="container">
                        <div class="portfolio-details-container">
                            <div class="portfolio-details-carousel">
                                <img src="{{ ae.poster.url }}" class="img-fluid" style="width: 300px; height: 200px; " alt="">
                            </div>
                        </div>
                        <div class="portfolio-description">
                            <h2 class="card-title-event" id="event-name" style="white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: calc(4vw + 4vh + 2vmin);">{{ae.event_name}}</h2>
                        </div>
                        <form action="{% url 'showevent' ae.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-eve-eve">View Event</button>
                        </form>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endif%}
</div>
<br>

<script>
    // dynamic countdown timer
    const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;
    var timer = JSON.parse("{{timer|escapejs}}")
    let eventday2 = timer.next_oe,
        eventday1 = timer.next_ue,
        countDown1 = new Date(eventday1).getTime(),
        countDown2 = new Date(eventday2).getTime();
    if (timer.oe == 0) {
        let x = setInterval(function() {
            let now = new Date().getTime(),
                distance2 = countDown2 - now;
            (document.getElementById("oedays").innerText = Math.floor(
                distance2 / day
            )),
            (document.getElementById("oehours").innerText = Math.floor(
                (distance2 % day) / hour
            )),
            (document.getElementById("oeminutes").innerText = Math.floor(
                (distance2 % hour) / minute
            )),
            (document.getElementById("oeseconds").innerText = Math.floor(
                (distance2 % minute) / second
            ));

            function setCounter(id, value, max) {
                var elem = document.getElementById(id);
                var radius = elem.r.baseVal.value;
                var circumference = radius * 2 * Math.PI;
                var barLength = Math.floor((value * circumference) / max);

                elem.setAttribute("stroke-dasharray", barLength + " " + circumference);
            }
            setCounter("oesecondss", Math.floor((distance2 % minute) / second), 60);
            setCounter("oeminutess", Math.floor((distance2 % hour) / minute), 60);
            setCounter("oehourss", Math.floor((distance2 % day) / hour), 24);
            setCounter("oedayss", Math.floor(distance2 / day), 365);
        }, 0);
    }
    if (timer.ue == 0) {
        let y = setInterval(function() {
            let now = new Date().getTime(),
                distance1 = countDown1 - now;

            (document.getElementById("uedays").innerText = Math.floor(
                distance1 / day
            )),
            (document.getElementById("uehours").innerText = Math.floor(
                (distance1 % day) / hour
            )),
            (document.getElementById("ueminutes").innerText = Math.floor(
                (distance1 % hour) / minute
            )),
            (document.getElementById("ueseconds").innerText = Math.floor(
                (distance1 % minute) / second
            ));

            function setCounter(id, value, max) {
                var elem = document.getElementById(id);
                var radius = elem.r.baseVal.value;
                var circumference = radius * 2 * Math.PI;
                var barLength = Math.floor((value * circumference) / max);

                elem.setAttribute("stroke-dasharray", barLength + " " + circumference);
            }

            setCounter("uesecondss", Math.floor((distance1 % minute) / second), 60);
            setCounter("ueminutess", Math.floor((distance1 % hour) / minute), 60);
            setCounter("uehourss", Math.floor((distance1 % day) / hour), 24);
            setCounter("uedayss", Math.floor(distance1 / day), 365);
        }, 0);
    }
</script>
<script src="{% static 'js/subnavbar.js' %}"></script>
<script>
checkFontSize();


function scaleFontSize(element) {
    var container = document.getElementById(element);

    // Reset font-size to 100% to begin
    container.style.fontSize = "100%";

    // Check if the text is wider than its container,
    // if so then reduce font-size
    if (container.scrollWidth > container.clientWidth) {
        container.style.fontSize = "70%";
    }
}
scaleFontSize("event-name");
</script>
{% endblock %}
