{% extends 'campus_ambassador/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/campus_ambassador/home.css' %}">
{% endblock %}
{% block content %}
<div class="grid place-items-center min-h-[90vh]">
    <h1 class="text-center md:text-left text-4xl font-extrabold text-slate-50">Opportunity to <span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-blue-500" >Learn</span> of a Lifetime</h1>
</div>
{% endblock %}