{% extends 'campus_ambassador/base.html' %}
{% load static %}
{% block title %}
{{request.user}}'s Profile
{% endblock %}
{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/campus_ambassador/home.css' %}"> -->
{% endblock %}
{% block content %}
<div class="view-box mb-8">
    {% if is_ambassador %}
        <div class="grid place-items-center lg:place-items-start lg:grid-cols-3 pt-[15vh] gap-4 md:gap-8">
            <!-- Profile Section -->
            <div class="hidden md:flex bg-slate-200/80 text-slate-900 px-3 py-4 rounded-lg w-full  flex-col justify-center lg:col-span-2">

                <h1 class="text-2xl font-semibold text-center font-montserrat uppercase">Profile</h1>
                <table class="max-w-screen-sm text-xs sm:text-base mt-2">
                    <tr>
                        <td class="font-semibold">Name:</td>
                        <td>{{request.user.first_name}} {{request.user.last_name}}</td>
                    </tr>
                    <tr>
                        <td class="font-semibold">College:</td>
                        <td>{{user_details.college}}</td>
                    </tr>
                    <tr>
                        <td class="font-semibold">Phone:</td>
                        <td>{{user_details.phone}}</td>
                    </tr>
                    <tr>
                        <td class="font-semibold">Facebook url:</td>
                        {% if user_details.facebook %}
                            <td><a href="{{user_details.facebook}}" class="underline">{{user_details.facebook}}</a></td>
                        {% else %}
                            <td><a href="#"></a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="font-semibold">Instagram url:</td>
                        {% if user_details.instagram %}
                            <td><a href="{{user_details.instagram}}" class="underline">{{user_details.instagram}}</a></td>
                        {% else %}
                            <td><a href="#"></a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="font-semibold">Linkedin url:</td>
                        {% if user_details.linkedin %}
                            <td><a href="{{user_details.linkedin}}" class="underline">{{user_details.linkedin}}</a></td>
                        {% else %}
                            <td><a href="#"></a></td>
                        {% endif %}
                    </tr>
                    <!-- <tr>
                        <td class="font-semibold">Submission Drive Url:</td>
                        {% if user_details.drive_link %}
                            <td><a href="{{user_details.drive_link}}" class="underline">{{user_details.drive_link}}</a></td>
                        {% else %}
                            <td><a href="#">Pending</a></td>
                        {% endif %}
                    </tr> -->
                    
                </table>
                <div class="flex justify-center gap-3 mt-2 flex-wrap text-sm sm:text-base">
                    <a href="{% url 'cap:edit_profile' %}" class="bg-gradient-to-r from-orange-500 to-yellow-600 text-slate-50 font-bold px-4 py-2 rounded-full">Edit Profile</a>
                    <a href="{% url 'cap:task_list' %}" class="bg-gradient-to-r from-orange-500 to-yellow-600 text-slate-50 font-bold px-4 py-2 rounded-full">Go to Tasks</a>
                </div>
            </div>
            <div class="bg-slate-200/80 w-full flex flex-col justify-center rounded-xl pb-4">
                <div class="overflow-hidden rounded-full">
                    <img src="{% static 'image/campus_ambassador/'%}{{user_details.profile_img}}" class="max-w-24 max-h-24 mx-auto my-3" alt="profile image">
                </div>
                <div class="px-3 text-slate-700 text-center text-sm md:text-base">
                    <h2 class="font-montserrat">Ambassador ID: {{user_details.unique_code}}</h2>
                    <h2 class="font-montserrat">Username: {{user_details.user.username}}</h2>
                </div>
                <div class="text-center mt-3 text-slate-800 font-montserrat">
                    <h3 class="font-semibold text-xl">
                        Score
                    </h3>
                    <h1 class="text-4xl font-bold">
                        {{user_details.score}}
                    </h1>
                </div>
            </div>
            <div class="flex md:hidden bg-slate-200/80 text-slate-900 px-3 py-4 rounded-lg w-full  flex-col justify-center lg:col-span-2">

                <h1 class="text-2xl font-semibold text-center font-montserrat uppercase">Profile</h1>
                <table class="max-w-screen-sm text-xs sm:text-base">
                    <tr>
                        <td class="font-semibold">Name:</td>
                        <td>{{request.user.first_name}} {{request.user.last_name}}</td>
                    </tr>
                    <tr>
                        <td class="font-semibold">College:</td>
                        <td>{{user_details.college}}</td>
                    </tr>
                    <tr>
                        <td class="font-semibold">Phone:</td>
                        <td>{{user_details.phone}}</td>
                    </tr>
                    <tr>
                        <td class="font-semibold">Facebook url:</td>
                        {% if user_details.facebook %}
                            <td><a href="{{user_details.facebook}}" class="underline">{{user_details.facebook}}</a></td>
                        {% else %}
                            <td><a href="#"></a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="font-semibold">Instagram url:</td>
                        {% if user_details.instagram %}
                            <td><a href="{{user_details.instagram}}" class="underline">{{user_details.instagram}}</a></td>
                        {% else %}
                            <td><a href="#"></a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="font-semibold">Linkedin url:</td>
                        {% if user_details.linkedin %}
                            <td><a href="{{user_details.linkedin}}" class="underline">{{user_details.linkedin}}</a></td>
                        {% else %}
                            <td><a href="#"></a></td>
                        {% endif %}
                    </tr>
                    
                </table>
                <div class="flex justify-center gap-3 mt-2 flex-wrap text-sm sm:text-base">
                    <a href="{% url 'cap:edit_profile' %}" class="bg-gradient-to-r from-orange-500 to-yellow-600 text-slate-50 font-bold px-4 py-2 rounded-full text-xs md:text-base">Edit Profile</a>
                    <a href="{% url 'cap:task_list' %}" class="bg-gradient-to-r from-orange-500 to-yellow-600 text-slate-50 font-bold px-4 py-2 rounded-full text-xs md:text-base">Go to Tasks</a>
                </div>
            </div>
            <div class="flex flex-col gap-2 col-span-1 lg:col-span-3 text-center bg-slate-200/80 w-full rounded-lg text-slate-900 pt-2">
                <div class="text-center">
                    <h2 class="font-semibold uppercase">Task Progress</h2>
                </div>
                <div class="w-full">
                    <table class="w-full">
                        <thead>
                            <tr>
                                <th class="table-head-cell text-center lg:text-left">Sub Task Number</th>
                                <th class="table-head-cell text-center hidden lg:block lg:text-left">Title</th>
                                <th class="table-head-cell text-center lg:text-left">Score</th>
                                <th class="table-head-cell text-center lg:text-left">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for st in amb.get_all_subtasks %}
                                    <tr class="odd:bg-slate-600/10">
                                        <td class="table-cell text-center lg:text-left">{{st.index}}</td>
                                        <td class="lg:table-cell text-center hidden lg:text-left">
                                            {{st.title}}
                                        </td>
                                        <td class="table-cell text-center lg:text-left">
                                            {% if st.completed %}
                                                {{st.score}}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </td>
                                        <td class="table-cell text-center lg:text-left">
                                            {% if st.completed %}
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto lg:mx-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                  </svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto lg:mx-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                              </svg>
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% elif is_moderator %}
        <div class="grid place-items-center lg:place-items-start lg:grid-cols-3 pt-[15vh] gap-4 md:gap-8">
            <!-- Profile Section -->
            <div class="hidden md:flex bg-slate-200/80 text-slate-900 px-3 py-4 rounded-lg w-full  flex-col justify-center lg:col-span-2">

                <h1 class="text-2xl font-semibold text-center font-montserrat uppercase">Profile</h1>
                <table class="max-w-screen-sm text-xs sm:text-base mt-2">
                    <tr>
                        <td class="font-semibold">Name:</td>
                        <td>{{request.user.first_name}} {{request.user.last_name}}</td>
                    </tr>
                </table>
                <div class="flex justify-center gap-3 mt-2 flex-wrap text-sm sm:text-base">
                    <a href="{% url 'cap:edit_profile' %}" class="bg-gradient-to-r from-orange-500 to-yellow-600 text-slate-50 font-bold px-4 py-2 rounded-full">Edit Profile</a>
                    <a href="{% url 'cap:score_task' %}" class="bg-gradient-to-r from-orange-500 to-yellow-600 text-slate-50 font-bold px-4 py-2 rounded-full">Score Tasks</a>
                </div>
            </div>
            <div class="bg-slate-200/80 w-full flex flex-col justify-center rounded-xl pb-4">
                <div class="overflow-hidden rounded-full">
                    <img src="{% static 'image/campus_ambassador/'%}default.png" class="max-w-24 max-h-24 mx-auto my-3" alt="profile image">
                </div>
                <div class="px-3 text-slate-700 text-center text-sm md:text-base">
                    <h2 class="font-montserrat">Moderator ID: {{user_details.unique_code}}</h2>
                    <h2 class="font-montserrat">Username: {{user_details.user.username}}</h2>
                </div>
            </div>
            <div class="flex md:hidden bg-slate-200/80 text-slate-900 px-3 py-4 rounded-lg w-full  flex-col justify-center lg:col-span-2">

                <h1 class="text-2xl font-semibold text-center font-montserrat">Profile</h1>
                <table class="max-w-screen-sm text-xs sm:text-base">
                    <tr>
                        <td class="font-semibold">Name:</td>
                        <td>{{request.user.first_name}} {{request.user.last_name}}</td>
                    </tr>
                    
                </table>
                <div class="flex justify-center gap-3 mt-2 flex-wrap text-sm sm:text-base">
                    <a href="{% url 'cap:edit_profile' %}" class="bg-gradient-to-r from-orange-500 to-yellow-600 text-slate-50 font-bold px-4 py-2 rounded-full text-xs md:text-base">Edit Profile</a>
                    <a href="{% url 'cap:score_task' %}" class="bg-gradient-to-r from-orange-500 to-yellow-600 text-slate-50 font-bold px-4 py-2 rounded-full text-xs md:text-base">Score Task</a>
                </div>
            </div>
        </div>
    {% elif is_staff %}
        <h2>Is Staff</h2>
    {% endif %}
</div>
<script src="{% static 'js/campus_ambassador/timer.js' %}"></script>
{% endblock %}