{% extends 'campus_ambassador/base.html' %}
{% load static %}
{% block title %}
{{request.user}}'s Profile
{% endblock %}
{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/campus_ambassador/home.css' %}"> -->
{% endblock %}
{% block content %}
<div class="view-box">
    {% if is_ambassador %}
        <div class="grid place-items-stretch lg:grid-cols-2 pt-[15vh] gap-4 md:gap-8">
            <!-- Profile Section -->
            <div class="bg-slate-200 text-slate-900 px-3 py-4 rounded-lg w-full flex flex-col justify-center">
                <h2 class="text-center">{{user_details.campaign}}</h2>
                <h1>Profile</h1>
                <h2>Username : {{request.user.username}}</h2>
                <h2>First Name : {{request.user.first_name}}</h2>
                <h2>Last Name : {{request.user.last_name}}</h2>
                <h2>User Details</h2>
                <h3>{{user_details.college}}</h3>
                <h3>{{user_details.phone}}</h3>
                <h3>Unique Code : {{user_details.unique_code}}</h3>
                <h3>{{user_details.score}}</h3>
                <h3>{{user_details.facebook}}</h3>
                <h3>{{user_details.linkedin}}</h3>
                <h3>{{user_details.instagram}}</h3>
                <div class="flex justify-center"><a href="{% url 'cap:edit_profile' %}" class="bg-gradient-to-r from-blue-500 to-purple-600 text-slate-50 font-bold px-4 py-2 rounded-full">Edit Profile</a></div>
            </div>
            <div class="bg-slate-200 text-slate-900 px-3 py-4 rounded-lg w-full">
                <div class="flex flex-col mx-auto justify-center text-center">
                    <h4>Score</h4>
                    <h4 class="text-4xl font-bold">{{amb.score}}</h4>
                </div>
                <!-- Task section -->
                {% if status.code == 201 %}
                    <h2>Current Task : {{amb.get_current_task.number}}</h2>
                    <h3 class="font-semibold">{{amb.get_current_task.number}} | {{amb.get_current_task.title}}</h3>
                    <p>{{amb.get_current_task.description}}</p>
                    <div class="hidden"><h4 id="secs-left">{{secs_left}}</h4></div>
                    <div class="">
                        <h1>Time Left: </h1>
                        <ul class="flex gap-2 justify-around w-fit mx-auto">
                            <li class="bg-stone-800 text-stone-50 font-semibold p-3 rounded-md" id="out_days">00</li>
                            <li class="bg-stone-800 text-stone-50 font-semibold p-3 rounded-md" id="out_hrs">00</li>
                            <li class="bg-stone-800 text-stone-50 font-semibold p-3 rounded-md" id="out_mins">00</li>
                            <li class="bg-stone-800 text-stone-50 font-semibold p-3 rounded-md" id="out_secs">00</li>
                        </ul>
                    </div>
                    {% for subtask in amb.get_all_current_subtasks %}
                        <div class="">
                            <h3 class="font-semibold pl-8">{{subtask.task.number}}.{{subtask.number}} | {{subtask.title}}</h3>
                            <p class="pl-8">{{subtask.description}}</p>
                            <div class="w-full my-4 flex flex-wrap gap-4 justify-center">
                                <a class="subtask-submit-link mx-auto px-4 py-2 font-semibold bg-gradient-to-l from-indigo-600 to-red-500 text-slate-50 rounded-full" href="{{subtask.submission_url}}">Submit Task Now</a>
                            </div>
                        </div>
                    {% endfor %}
                {% elif status.code == 202 %}
                    <h1>{{status.msg}}</h1>
                {% elif status.code == 204 %}
                    <h2>{{status.msg}}</h2>
                {% endif %}
            </div>
        </div>
    {% elif is_moderator %}
        <div class="grid place-items-stretch  pt-[15vh] gap-4 md:gap-8">
            <!-- Profile Section -->
            <div class="bg-slate-200 text-slate-900 px-3 py-4 rounded-lg w-full flex flex-col justify-center">
                <h1>Profile</h1>
                <h2>Username : {{request.user.username}}</h2>
                <h2>Current Campaign: {{cur_campaign}}</h2>
                <h2>First Name : {{request.user.first_name}}</h2>
                <h2>Last Name : {{request.user.last_name}}</h2>
                <h3>{{user_details.college}}</h3>
                <h3>{{user_details.phone}}</h3>
                <h3>Unique Code : {{user_details.unique_code}}</h3>
                <h3>{{user_details.score}}</h3>
                <h3>{{user_details.facebook}}</h3>
                <h3>{{user_details.linkedin}}</h3>
                <h3>{{user_details.instagram}}</h3>
                <div class="flex justify-center flex-wrap gap-4">
                    <a href="{% url 'cap:score_task' %}" class="bg-gradient-to-r from-blue-500 to-purple-600 text-slate-50 font-bold px-4 py-2 rounded-full">Score Task</a>
                </div>
            </div>
    {% elif is_staff %}
        <h2>Is Staff</h2>
    {% endif %}
</div>
<script src="{% static 'js/campus_ambassador/timer.js' %}"></script>
{% endblock %}