appdirs==1.4.3     
asgiref==3.2.3     
attrs==21.4.0    
beautifulsoup4==4.7.1     
certifi==2018.11.29
cffi==1.15.0    
chardet==3.0.4     
cryptography==36.0.1    
defusedxml==0.5.0     
Deprecated==1.2.13    
distlib==0.3.0     
Django==3.0.2     
django-allauth==0.38.0    
django-braces==1.13.0
django-cors-headers==3.11.0
django-crispy-forms==1.8.1     
django-datetimepicker==3.14      
django-markdownx==3.0.1     
django-oauth-toolkit==1.7.0     
django-rest-framework-social-oauth2==1.1.0     
django-widget-tweaks==1.4.12    
djangorestframework==3.13.1    
filelock==3.4.2     
future==0.18.2    
gunicorn==20.1.0    
html2markdown==0.1.7     
html2text==2020.1.16 
httplib2==0.20.4    
idna==2.8       
importlib-metadata==4.10.1    
importlib-resources==5.4.0     
iso8601==1.0.2     
jsonschema==4.4.0     
jwcrypto==1.0       
Markdown==3.2.2     
mistletoe==0.8.1     
mixins==0.1.4     
oauthlib==3.2.0     
Pillow==9.0.1     
pip==20.0.2    
pkg-resources==0.0.0     
pycparser==2.21      
PyJWT==2.3.0     
pyparsing==3.0.7     
pyrsistent==0.18.1    
python3-openid==3.1.0     
pytz==2018.9    
requests==2.21.0    
requests-oauthlib==1.2.0     
setuptools==44.0.0    
social-auth-app-django==5.0.0     
social-auth-core==4.2.0     
soupsieve==1.8       
sqlparse==0.3.0     
urllib3==1.24.2    
wrapt==1.13.3    
zipp==3.7.0  
