body{
    font-family: "Open Sans", sans-serif;
}
.fa-heart{
    color: red;
  }
  #footer {
    background: #000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
  }
  
  #footer  {
    background: #111;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-info {
    margin-bottom: 30px;
  }
  
  #footer  .footer-info h3 {
    font-size: 14px;
    margin: 0 0 0px 0;
    padding: 2px 0 2px 10px;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-left: 4px solid var(--theme-color);
  }
  
  
  
  #footer  .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #eee;
  }
  
  #footer  .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer  .social-links a:hover {
    background: var(--theme-color);
    color: #fff;
  }
  
  #footer  h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer  h4::before, #footer  h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
  }
  
  #footer  h4::before {
    right: 0;
    background: #555;
  }
  
  #footer  h4::after {
    background: var(--theme-color);
    width: 60px;
  }
  
  #footer  .footer-links {
    margin-bottom: 30px;
  }
  
  #footer  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer  .footer-links ul i {
    padding-right: 8px;
    color: #ddd;
  }
  
  #footer  .footer-links ul li {
    border-bottom: 1px solid #333;
    padding: 10px 0;
  }
  
  #footer  .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer  .footer-links ul a {
    color: #eee;
  }
  
  #footer  .footer-links ul a:hover {
    color: var(--theme-color);
  }
  
  #footer  .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer  .footer-contact p {
    line-height: 26px;
    text-align: left;
  }
  
  
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
  }