{% extends 'forum/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
 
 
 <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <section id="intro">

    <div class="intro-container">

      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">



        <ol class="carousel-indicators"></ol>



        <div class="carousel-inner" role="listbox">



          <div class="carousel-item active" style="background-image: url('static/img/intro-carousel/1.jpg')">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown">E-Summit</h2>

                <p class="animate__animated animate__fadeInUp">

                  The Largest E-Summit of Eastern India.

                 </p>

                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>

              </div>

            </div>

          </div>



          <div class="carousel-item" style="background-image: url('static/img/intro-carousel/2.jpg')">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown">Exciting Events</h2></h2>

                <p class="animate__animated animate__fadeInUp">
                  
                  Learn about various exciting Event.
                
                </p>

                <a href="#services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Know more</a>

              </div>

            </div>

          </div>



          <div class="carousel-item" style="background-image: url('static/img/intro-carousel/3.jpg')">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown"><h2>Wonderful Speakers</h2>

                <p class="animate__animated animate__fadeInUp">

                  Hear from the wonderful Speakers we have had in the past.
                
                </p>

                <a href="#testimonials" class="btn-get-started scrollto animate__animated animate__fadeInUp">Meet them</a></a>

              </div>

            </div>

          </div>



          <div class="carousel-item" style="background-image: url('static/img/intro-carousel/4.jpg')">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown">Our Partners</h2>

                <p class="animate__animated animate__fadeInUp">
                  
                  Those who make it happen.
                
                </p>

                <a href="#clients" class="btn-get-started scrollto animate__animated animate__fadeInUp">Check Out</a></a>

              </div>

            </div>

          </div>

        </div>



        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">

          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>

          <span class="sr-only">Previous</span>

        </a>



        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">

          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>

          <span class="sr-only">Next</span>

        </a>



      </div>

    </div>

  </section><!-- End Intro Section -->



  <main id="main">



    <!-- ======= About Us Section ======= -->

    <section id="about">

      <div class="container" data-aos="fade-up">



        <header class="section-header">

          <h3>E-Summit</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        </header>
      </div>

    </section>
    <div class="container">

     
    </head>
    
<br>
<br>


     <header class="section-header">

        <h3>Glimpses</h3>

      </header>
      <!-- Swiper -->
      <div class="swiper-container" data-aos="fade-up" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1597022339385-53f2814881f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width: 100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1596976736710-d7eaff8f94b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1597022339385-53f2814881f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1597022339385-53f2814881f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1596976736710-d7eaff8f94b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width: 100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1597022339385-53f2814881f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          
          </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    
     

    </div>
    
    <!-- End About Us Section -->



    <!-- ======= Events Section ======= -->

    <section id="services">

      <div class="container" data-aos="fade-up">



        <header class="section-header wow fadeInUp">

          <h3>Events</h3>

          <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>

        </header>

        <div class="container">
<div class="row">
  <div class="col-sm" data-aos="fade-up">
    
      <div class="card" style="padding: auto;">
        <div class="card__head">
          <div class="card__image"><img class="card-img-top" style="width: 350px; height: 240px;" src="{% static ''%}" alt="Card image"></div>
        </div>
        <div class="card__body">
          <h2 class="card__headline">Title</h2>
          </div>
        <div class="card__foot">
          <p class="card__text">Description <br> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
        </div>
        <div class="card__border"></div>
      </div>
    
  </div>

  <div class="col-sm" data-aos="fade-up">
      <div class="card" style="padding: auto;">
      <div class="card__head">
        <div class="card__image"><img class="card-img-top" style="width: 350px; height: 240px;" src="{% static ''%}" alt="Card image"></div>
      </div>
      <div class="card__body">
        <h2 class="card__headline">Title</h2>
        </div>
      <div class="card__foot">
        <p class="card__text">Description <br> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
      </div>
      <div class="card__border"></div>
    </div>
  
  </div>

  <div class="col-sm" data-aos="fade-up">
    <div class="card">
      <div class="card__head">
        <div class="card__image"><img class="card-img-top" style="width: 350px; height: 240px;" src="{% static ''%}" alt="Card image"></div>
      </div>
      <div class="card__body">
        <h2 class="card__headline">Title</h2>
        </div>
      <div class="card__foot">
        <p class="card__text">Description <br> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
      </div>
      <div class="card__border"></div>
    </div>
  </div>
</div>
</div>
</div>



      </div>

    </section><!-- End Events Section -->



    <!-- ======= Speakers Section ======= -->

    <section id="testimonials" class="section-bg">

      <div class="container" data-aos="fade-up">



        <header class="section-header">

          <h3>Past Speakers</h3>

        </header>



        <div class="owl-carousel testimonials-carousel">



          <div class="testimonial-item">

            <img src="" class="testimonial-img" alt="">

            <h3>Saul Goodman</h3>

            <h4>Ceo &amp; Founder</h4>

            <p>

              <img src="" class="quote-sign-left" alt="">

              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.

              <img src="" class="quote-sign-right" alt="">

            </p>

          </div>




         <div class="testimonial-item">

            <img src="" class="testimonial-img" alt="">

            <h3>Sara Wilsson</h3>

            <h4>Designer</h4>

            <p>

              <img src="" class="quote-sign-left" alt="">

              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.

              <img src="" class="quote-sign-right" alt="">

            </p>

          </div>



          <div class="testimonial-item">

            <img src="" class="testimonial-img" alt="">

            <h3>Jena Karlis</h3>

            <h4>Store Owner</h4>

            <p>

              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">

              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.

              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

            </p>

          </div>



          <div class="testimonial-item">

            <img src="" class="testimonial-img" alt="">

            <h3>Matt Brandon</h3>

            <h4>Freelancer</h4>

            <p>

              <img src="" class="quote-sign-left" alt="">

              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.

              <img src="" class="quote-sign-right" alt="">

            </p>

          </div>



          <div class="testimonial-item">

            <img src="" class="testimonial-img" alt="">

            <h3>John Larson</h3>

            <h4>Entrepreneur</h4>

            <p>

              <img src="" class="quote-sign-left" alt="">

              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.

              <img src="" class="quote-sign-right" alt="">

            </p>

          </div>



        </div>

        <!-- ======= End Speakers Section ======= -->
        <br>
        <br>
        <!-- ======= Sponsor Section ======= -->
    <section id="clients">
      <div class="container" data-aos="zoom-in">

        <header class="section-header">
          <h3>Our Partners</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">

        </div>
       
        <br>
        <br>

      </div>
    </section><!-- End SPonsor Section -->


        </div>

      
  </main>
  {% endblock %}