{% extends 'forum/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link href="{% static 'css/timeline.css' %}" rel="stylesheet">
<link href="{% static 'css/esummitpage.css' %}" rel="stylesheet">

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
  integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
  crossorigin="anonymous"></script>



<section id="intro">

  <div class="intro-container">

    <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">



      <ol class="carousel-indicators"></ol>



      <div class="carousel-inner" role="listbox">

        {% for slider in active_slider %}

        <div class="carousel-item active" style="background-image: url('{{slider.event_img.url}}')">

          <div class="carousel-container">

            <div class="container">

              <h2 class="animate__animated animate__fadeInDown">Entrepreneurship Summit {{slider.year}}</h2>

              <p class="animate__animated animate__fadeInUp">

                {{slider.subtitle}}


              </p>

              <a href="#{{slider.btn_link}}"
                class="btn-get-started scrollto animate__animated animate__fadeInUp">{{slider.btn_content}}</a>

            </div>

          </div>

        </div>

        {% endfor %}
        {% for slider in slider %}

        <div class="carousel-item" style="background-image: url('{{slider.event_img.url}}')">

          <div class="carousel-container">

            <div class="container">

              <h2 class="animate__animated animate__fadeInDown">{{slider.title}}</h2>

              <p class="animate__animated animate__fadeInUp">

                {{slider.subtitle}}

              </p>

              <a href="#{{slider.btn_link}}"
                class="btn-get-started scrollto animate__animated animate__fadeInUp">{{slider.btn_content}}</a>

            </div>

          </div>

        </div>

        {% endfor %}

      </div>



      <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">

        <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>

        <span class="sr-only">Previous</span>

      </a>



      <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">

        <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>

        <span class="sr-only">Next</span>

      </a>



    </div>

  </div>

</section><!-- End Intro Section -->



<main id="main">



  <!-- ======= About Us Section ======= -->

  <section id="about">

    <div class="container" data-aos="fade-up">



      <header class="section-header">

        <h3>About E-Summit</h3>

        <p>
          Our flagship event, E-Summit, has hosted some of the most prominent stalwarts of
          the industry over the years
          and is famed as the second largest E-Summit of its kind in eastern India.
          Through a gamut of events such as entrepreneurial guest talks, workshops, competitions and investor meet-ups,
          E-Summit aims to help students get exposure about entrepreneurship and build a strong start-up ecosystem in
          the country.
        </p>

      </header>
    </div>
    {% if year.yt_link %}
    <div class="container iframe-container" data-aos="fade-up">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="{{year.yt_link}}" title="YouTube video player">
        </iframe>
      </div>
    </div>
    {% endif %}
  </section>
  <!-- End About Us Section -->


  <!-- timeline section  -->
  <section class="timeline-carousel" style="background:#f7f7f7;">
    <header class="section-header">

      <h3>Timeline</h3> 

    </header>
    <div style="margin-top: 20px; background:#f7f7f7;" class="container ps-timeline-sec" id="roadmap1" data-aos="fade-up">
      <!-- newly added -->
      <!-- <section style="width: auto; padding-top: 0px; padding-bottom: 0px;" class="ps-timeline-sec"> -->

      <div class="timeline-carousel__item-wrapper" data-js="timeline-carousel">
        {% for year in years %}
        <!--Timeline item-->
        <div class="timeline-carousel__item" style="width: 75%;">
          <div class="timeline-carousel__image">
            <div class="media-wrapper media-wrapper--overlay"
              style="background: url('{{year.year_img.url}}') center center; background-size:100% 100%;"></div>
          </div>
          <div class="timeline-carousel__item-inner">
            <span class="year">{{year.year}}</span>
            <!-- <span class="month">Eget felis eget nunc lobortis mattis</span> -->
            <p>{{year.year_desc}}</p>
            <a href="{% url 'esummit_page' year.id %}" class="read-more">Know more</a>
          </div>
        </div>
        <!--/Timeline item-->
        {% endfor %}
      </div>
      <!-- ended here -->
    </div>
    <br><br>
  </section>
  <!-- end of timeline -->

  <!-- ======= Events Section ======= -->

  <section id="services" class="section-bg">

    <div class="container" data-aos="fade-up">

      <header class="section-header wow fadeInUp">

        <h3>Events</h3>

        <p>
          During E-Summit, we host a series of entrepreneurial events.
          Workshops, competitions, discussion panels, business pitches and E-Talks are conducted.
          The main objective behind these events is to cultivate entrepreneurial qualities in students and motivate them
          to dream big.
        </p>

      </header>

      <div class="container">
        <div class="row">
          {% for event in events %}
          <div class="col-lg-4 col-md-6 col-xs-12" data-aos="fade-up">

            <div class="card" style="padding: auto;">
              <div class="card__head">
                <div class="card__image"><img class="card-img-top" style="width: 100%; height: 100%;"
                    src="{{event.event_img.url}}" alt="Card image"></div>
              </div>
              <div class="card__body">
                <h2 class="card__headline" style="color: var(--theme-color);"><strong>{{event.event_title}}</strong>
                </h2>
              </div>
              <div class="card__foot">
                <p class="card__text">
                  {{event.event_detail}}
                </p>
              </div>
              <div class="card__border"></div>
            </div>

          </div>
          {% endfor %}

        </div>
        <br>
        <a href="{% url 'event_page' %}" class="btn-get-started scrollto animate__animated animate__fadeInUp"
          style="position: absolute; right: 10px;">View all E-SUMMIT Events <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>


    </div>
  </section>

  <!-- End Events Section -->



  <!-- ======= Campus Ambassador Section START======= -->

  <section id="cap-top" class="fluid-container cap-top" style=" background:var(--theme-color);">
    <div class="card_content in">

      <div class="fluid-container inner_content_card row">
        <div class="col-md-6">
          <div class="lines">
            <p>CAMPUS AMBASSADOR PROGRAM</p>
          </div>

          <div class=" anime_bord cap-content-box">
            <hr />
              The Campus Ambassador program provides a platform to infinitely increase your managerial, marketing, and networking skills. It is the perfect platform for refining personal & people skills, and providing exposure to the entrepreneurial world. 
              This internship involves managing over 2 lakh participants from all across India, handling 300 + Startup ideas from the brightest minds, and interacting with an esteemed and experienced panel of Investors and StartUp mentors.
              The selected ambassadors, throughout their tenure, will work closely with Team EDC, NIT Durgapur, and represent our E-Summit in their college.
          </div>

          <div class="button-wrapper slide-border">
            <button class="button8" type="button" id="button7" onclick="location.href='{% url 'cap:cap_home_page' %}'">Apply Now</button>
          </div>

        </div>

        <div class="col-md-6 image_place">
          <div class="cap-image-vector">
            <img src="{% static 'img/capAmb.svg' %}" class="capAmb_img" alt="">
          </div>
        </div>

      </div>

    </div>


  </section>

  <!-- ======= Campus Ambassador Section END======= -->





  <!-- ======= Speakers Section ======= -->

  <section id="testimonials" class="section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">

        <h3>Speakers</h3>

      </header>
      <div id="bar"></div>

      <div class="owl-carousel speakers-carousel">

        {% for speaker in speakers %}

        <div class="testimonial-item">

          <img src="{{speaker.speaker_img.url}}" class="testimonial-img" alt="">

          <h3>{{speaker.speaker_title}}</h3>

          <h4>{{speaker.speaker_subtitle}}</h4>

          <p>

            <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">

            {{speaker.speaker_desc}}

            <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

          </p>

        </div>

        {% endfor %}

      </div>

    </div>
  </section>

  <!-- ======= End Speakers Section ======= -->

  <br>
  <br>

  <div class="container">
    </head>


    <header class="section-header">

      <h3>Glimpses</h3>

    </header>


    <!-- Swiper -->
    <div class="swiper-container" data-aos="fade-up" style="padding-top: 50px; padding-bottom: 50px;" id="glimpses">
      <div class="swiper-wrapper">
        {% for glimpse in glimpses %}
        <div class="swiper-slide" style="background-image:url('{{glimpse.glimpse_img.url}}');
              height:300px; width:350px;background-position: center;
              background-size: cover;">
          <div class="container" style="max-width: 300px; height: 250px;"></div>
          <div class="panel panel-default"
            style="background-color: rgba(0,0,0,0.7); width: 100%; height: 50px; text-align: center;">
            <div class="panel-body" style="padding-top: 10px; color: var(--theme-color);">{{glimpse.glimpse_desc}}</div>
          </div>
        </div>
        {% endfor %}


      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>


  <!-- ======= Sponsor Section ======= -->
  <section id="testimonials" class="section-bg">
    <div class="container" data-aos="fade-up">
      <section id="clients">
        <div class="container" data-aos="zoom-in">

          <header class="section-header">
            <h3>Our Sponsors</h3>
          </header>

          <div class="owl-carousel clients-carousel">
            <img src="{% static 'img/esummit/sp1.jpeg' %}" alt="image1">
            <img src="{% static 'img/esummit/sp2.jpeg' %}" alt="image2">
            <img src="{% static 'img/esummit/sp3.jpeg' %}" alt="image3">
            <img src="{% static 'img/esummit/sp4.jpeg' %}" alt="image4">
            <img src="{% static 'img/esummit/sp5.jpeg' %}" alt="image5">
            <img src="{% static 'img/esummit/sp6.jpeg' %}" alt="image6">
          </div>

        </div>
      </section><!-- End SPonsor Section -->

    </div>
  </section>
  <script src="{% static 'js/timeline.js' %}"></script>
</main>
{% endblock %}