{% extends 'forum/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
 
 <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous"></script>
 <!-- <link rel="stylesheet" type="text/css" href="slick/slick-theme.min.css"> original link -->
 <!-- <link rel="stylesheet" type="text/css" href="slick/accessible-slick-theme.min.css"> -->

 <!-- <script type="text/javascript" src="slick/slick.min.js"></script> -->
 <!-- <script src="{% static 'js/esummitpage1.js' %}"></script>
 <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->
    <!-- <script src="{% static 'js/esummitpage1.js' %}"></script> -->
  
 

  <section id="intro">

    <div class="intro-container">

      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">



        <ol class="carousel-indicators"></ol>



        <div class="carousel-inner" role="listbox">



          <div class="carousel-item active" style="background-image: url('{% static 'img/esummit/emc1.jpeg' %}')">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown">Entrepreneurship Summit 2021</h2>

                <p class="animate__animated animate__fadeInUp">

                  Quintessence of Innovation
		<br>
		<br>
		 2-4th April 2021

                 </p>

                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>

              </div>

            </div>

          </div>



          <div class="carousel-item" style="background-image: url('{% static 'img/esummit/emc2.jpeg' %}')">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown">Exciting Events and Workshops</h2></h2>

                <p class="animate__animated animate__fadeInUp">
                  
                  Learn about the various events in store at E-Summit’21
                
                </p>

                <a href="#services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Know more</a>

              </div>

            </div>

          </div>



          <div class="carousel-item" style="background-image: url('{% static 'img/esummit/emc3.jpeg' %}')">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown"><h2>A Stellar Speaker Line-Up</h2>

                <p class="animate__animated animate__fadeInUp">

                  From YouTubers to CEOs and Co-Founders, we have it all covered!
                
                </p>

                <a href="#testimonials" class="btn-get-started scrollto animate__animated animate__fadeInUp">OUR PAST SPEAKERS</a></a>

              </div>

            </div>

          </div>


<!--
          <div class="carousel-item" style="background-image: url('static/img/intro-carousel/4.jpg')">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown">Our Sponsors</h2>

                <p class="animate__animated animate__fadeInUp">
                  
                  Those who make it happen.
                
                </p>

                <a href="#clients" class="btn-get-started scrollto animate__animated animate__fadeInUp">Check Out</a></a>

              </div>

            </div>

          </div>-->

        </div>



        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">

          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>

          <span class="sr-only">Previous</span>

        </a>



        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">

          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>

          <span class="sr-only">Next</span>

        </a>



      </div>

    </div>

  </section><!-- End Intro Section -->



  <main id="main">



    <!-- ======= About Us Section ======= -->

    <section id="about">

      <div class="container" data-aos="fade-up">



        <header class="section-header">

          <h3>About E-Summit</h3>

          <p>
         	   Our flagship event, E-Summit, currently in its 4th edition, has hosted some of the most prominent stalwarts of the industry over the years 
		   and is famed as the second largest E-Summit of its kind in eastern India. 
		   Through a gamut of events such as entrepreneurial guest talks, workshops, competitions and investor meet-ups, 
		   E-Summit aims to help students get exposure about entrepreneurship and build a strong start-up ecosystem in the country.
			<br>
		This year, E-Summit NIT Durgapur comes to you from the comfort of your homes on 2nd, 3rd and 4th April 2021.  
          </p>

        </header>
      </div>

    </section>
    <!-- End About Us Section -->

    <!-- timeline section  -->
    <section style="background:#f7f7f7;" id="roadmap">
      <div style="padding-top: 0px;" class="container ps-timeline-sec" id="roadmap1" data-aos="fade-up">
    <!-- newly added -->
  <!-- <section style="width: auto; padding-top: 0px; padding-bottom: 0px;" class="ps-timeline-sec"> -->
    <section class="timeline-carousel">
      <!-- <div class="container">
         <div class="row">
            <div class="col-8 offset-2 text-center mb-5">
               <h1>Horizontal timeline</h1>
               <p class="lead text-muted">Below is a concept of a horizontal timeline slider. You can drag the slides or click on the previous and next buttons.</p>
               <p><a class="text-white" target="_blank" href="https://codepen.io/davidbiek/pen/BaWYWME">Bootstrap 5 version</a></p>
            </div>
         </div>
      </div> -->
      <div class="timeline-carousel__item-wrapper" data-js="timeline-carousel">
   
         <!--Timeline item-->
         <div class="timeline-carousel__item" style="width: 75%;">
            <div class="timeline-carousel__image">
               <div class="media-wrapper media-wrapper--overlay" style="background: url('https://scontent.frdp1-1.fna.fbcdn.net/v/t39.30808-6/274461587_350377790431738_9175793229721353960_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=igHGXjRKgKIAX9QeRON&_nc_ht=scontent.frdp1-1.fna&oh=00_AT-w0ZS-xBCHEFM9NGnXZ-pJm3lq9UtkczUIiKBGWcmxQg&oe=621B99E2') center center; background-size:cover;"></div>
            </div>
            <div class="timeline-carousel__item-inner">
               <span class="year">2022</span>
               <span class="month">Eget felis eget nunc lobortis mattis</span>
               <p>Eget felis eget nunc lobortis mattis aliquam fauci</p>
               <a href="#" class="read-more">Read more</a>
            </div>
         </div>
         <!--/Timeline item-->
   
         <!--Timeline item-->
         <div class="timeline-carousel__item" style="width: 75%;">
            <div class="timeline-carousel__image">
               <div class="media-wrapper media-wrapper--overlay" style="background: url('https://scontent.frdp1-1.fna.fbcdn.net/v/t39.30808-6/274461587_350377790431738_9175793229721353960_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=igHGXjRKgKIAX9QeRON&_nc_ht=scontent.frdp1-1.fna&oh=00_AT-w0ZS-xBCHEFM9NGnXZ-pJm3lq9UtkczUIiKBGWcmxQg&oe=621B99E2') center center; background-size:cover;"></div>
            </div>
            <div class="timeline-carousel__item-inner">
               <span class="year">2021</span>
               <span class="month">Tristique magna sit amet</span>
               <p>Tristique magna sit amet purus gravida quis blandit turpis.</p>
               <a href="#" class="read-more">Read more</a>
            </div>
         </div>
         <!--/Timeline item-->
   
         <!--Timeline item-->
         <div class="timeline-carousel__item" style="width: 75%;">
            <div class="timeline-carousel__image">
               <div class="media-wrapper media-wrapper--overlay" style="background: url('https://scontent.frdp1-1.fna.fbcdn.net/v/t39.30808-6/274461587_350377790431738_9175793229721353960_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=igHGXjRKgKIAX9QeRON&_nc_ht=scontent.frdp1-1.fna&oh=00_AT-w0ZS-xBCHEFM9NGnXZ-pJm3lq9UtkczUIiKBGWcmxQg&oe=621B99E2') center center; background-size:cover;"></div>
            </div>
            <div class="timeline-carousel__item-inner">
               <span class="year">2020</span>
               <span class="month">Mauris pellentesque pulvinar pellentesque habitant</span>
               <p>Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus </p>
               <a href="#" class="read-more">Read more</a>
            </div>
         </div>
         <!--/Timeline item-->
   
         <!--Timeline item-->
         <div class="timeline-carousel__item" style="width: 75%;">
            <div class="timeline-carousel__image">
               <div class="media-wrapper media-wrapper--overlay" style="background: url('https://scontent.frdp1-1.fna.fbcdn.net/v/t39.30808-6/274461587_350377790431738_9175793229721353960_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=igHGXjRKgKIAX9QeRON&_nc_ht=scontent.frdp1-1.fna&oh=00_AT-w0ZS-xBCHEFM9NGnXZ-pJm3lq9UtkczUIiKBGWcmxQg&oe=621B99E2') center center; background-size:cover;"></div>
            </div>
            <div class="timeline-carousel__item-inner">
               <span class="year">2019</span>
               <span class="month">Cum sociis natoque penatibus</span>
               <p>Cum sociis natoque penatibus et magnis dis. Interdum velit laoreet id donec ultrices tincidunt arcu non. Lorem sed risus ultricies tristique. Dui vivamus arcu felis bibendum ut. Tortor id aliquet lectus proin nibh nisl condimentum id.</p>
               <a href="#" class="read-more">Read more</a>
            </div>
         </div>
         <!--/Timeline item-->
   
          <!--Timeline item-->
         <div class="timeline-carousel__item" style="width: 75%;">
            <div class="timeline-carousel__image">
               <div class="media-wrapper media-wrapper--overlay" style="background: url('https://scontent.frdp1-1.fna.fbcdn.net/v/t39.30808-6/274461587_350377790431738_9175793229721353960_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=igHGXjRKgKIAX9QeRON&_nc_ht=scontent.frdp1-1.fna&oh=00_AT-w0ZS-xBCHEFM9NGnXZ-pJm3lq9UtkczUIiKBGWcmxQg&oe=621B99E2') center center; background-size:cover;"></div>
            </div>
            <div class="timeline-carousel__item-inner">
               <span class="year">2019</span>
               <span class="month">Cum sociis natoque penatibus</span>
               <p>Cum sociis natoque penatibus et magnis dis. Interdum velit laoreet id donec ultrices tincidunt arcu non. Lorem sed risus ultricies tristique. Dui vivamus arcu felis bibendum ut. Tortor id aliquet lectus proin nibh nisl condimentum id.</p>
               <a href="#" class="read-more">Read more</a>
            </div>
         </div>
         <!--/Timeline item-->
   
         <!--Timeline item-->
         <div class="timeline-carousel__item" style="width: 75%;">
            <div class="timeline-carousel__image">
               <div class="media-wrapper media-wrapper--overlay" style="background: url('https://scontent.frdp1-1.fna.fbcdn.net/v/t39.30808-6/274461587_350377790431738_9175793229721353960_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=igHGXjRKgKIAX9QeRON&_nc_ht=scontent.frdp1-1.fna&oh=00_AT-w0ZS-xBCHEFM9NGnXZ-pJm3lq9UtkczUIiKBGWcmxQg&oe=621B99E2') center center; background-size:cover;"></div>
            </div>
            <div class="timeline-carousel__item-inner">
               <span class="year">2018</span>
               <span class="month">Id nibh tortor id aliquet</span>
               <p>Nunc eget lorem dolor sed viverra. Id nibh tortor id aliquet. Sed blandit libero volutpat sed cras. Fermentum posuere urna nec tincidunt praesent. Id ornare arcu odio ut sem nulla pharetra diam.</p>
               <a href="#" class="read-more">Read more</a>
            </div>
         </div>
         <!--/Timeline item-->
   
         <!--Timeline item-->
         <div class="timeline-carousel__item" style="width: 75%;">
            <div class="timeline-carousel__image">
               <div class="media-wrapper media-wrapper--overlay" style="background: url('https://scontent.frdp1-1.fna.fbcdn.net/v/t39.30808-6/274461587_350377790431738_9175793229721353960_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=igHGXjRKgKIAX9QeRON&_nc_ht=scontent.frdp1-1.fna&oh=00_AT-w0ZS-xBCHEFM9NGnXZ-pJm3lq9UtkczUIiKBGWcmxQg&oe=621B99E2') center center; background-size:cover;"></div>
            </div>
            <div class="timeline-carousel__item-inner">
               <span class="year">2017</span>
               <span class="month">Pulvinar neque laoreet suspendisse</span>
               <p>Pulvinar neque laoreet suspendisse interdum consectetur. Libero volutpat sed cras ornare. Ac auctor augue mauris augue.</p>
               <a href="#" class="read-more">Read more</a>
            </div>
         </div>
         <!--/Timeline item-->
   
         <!--Timeline item-->
         <div class="timeline-carousel__item" style="width: 75%;">
            <div class="timeline-carousel__image">
               <div class="media-wrapper media-wrapper--overlay" style="background: url('https://scontent.frdp1-1.fna.fbcdn.net/v/t39.30808-6/274461587_350377790431738_9175793229721353960_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=igHGXjRKgKIAX9QeRON&_nc_ht=scontent.frdp1-1.fna&oh=00_AT-w0ZS-xBCHEFM9NGnXZ-pJm3lq9UtkczUIiKBGWcmxQg&oe=621B99E2') center center; background-size:cover;"></div>
            </div>
            <div class="timeline-carousel__item-inner">
               <span class="year">2015</span>
               <span class="month">Egestas quis ipsum</span>
               <p>Non odio euismod lacinia at. Egestas quis ipsum suspendisse ultrices gravida. Dui nunc mattis enim ut tellus elementum sagittis vitae. Lectus quam id leo in vitae turpis massa sed elementum. Ridiculus mus mauris vitae ultricies leo integer malesuada. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus./p>
                  <a href="#" class="read-more">Read more</a>
            </div>
         </div>
         <!--/Timeline item-->
   
      </div>
   </section>
  <!-- </section> -->
  <!-- ended here -->
    </div>
    <br><br>
  </section>
  <!-- end of timeline -->


    <!-- ======= Events Section ======= -->

    <section id="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header wow fadeInUp">

          <h3>Events</h3>

          <p>
            During E-Summit, we host a series of entrepreneurial events. 
            Workshops, competitions, discussion panels, business pitches and E-Talks are conducted. 
            The main objective behind these events is to cultivate entrepreneurial qualities in students and motivate them to dream big.
          </p>

        </header>

        <div class="container">
<div class="row">
  <div class="col-sm" data-aos="fade-up">
    
      <div class="card" style="padding: auto;">
        <div class="card__head">
          <div class="card__image"><img class="card-img-top" style="width: 100%; height: 100%;" src="{% static 'img/esummit/auction.jpg'%}" alt="Card image"></div>
        </div>
        <div class="card__body">
          <h2 class="card__headline" style="color: var(--theme-color);"><strong>Auction Arcadia</strong></h2>
          </div>
        <div class="card__foot">
          <p class="card__text" >
        	Auction Arcadia brings an opportunity to bid for the players and form your IPL teams.
		 A dedicated auctioneer controls the proceedings of this event and at last, it ends with a settles squad for every IPL Team.
		With online game simulation, E-SUMMIT ’21 brings this unpredictable game into play by organising Auction Arcadia.
          </p>
        </div>
        <div class="card__border"></div>
      </div>
    
  </div>

  <div class="col-sm" data-aos="fade-up">
      <div class="card" style="padding: auto;">
      <div class="card__head">
        <div class="card__image"><img class="card-img-top" style="width: 100%; height: 100%;" src="{% static 'img/esummit/etalk.jpeg'%}" alt="Card image"></div>
      </div>
      <div class="card__body">
        <h2 class="card__headline" style="color: var(--theme-color);"><strong>E-Talks</strong></h2>
        </div>
      <div class="card__foot">
        <p class="card__text">
          There is no better learning about entrepreneurship than hearing it from the people who have carved an undisputed name in their respective fields.
	  At E-Talks which draws in huge crowds every year, we will bring in some of the finest and most distinguished names from a range of diverse fields.
	  From YouTube superstars to CEOs and Founders, we have it all covered.
        </p>
      </div>
      <div class="card__border"></div>
    </div>
  
  </div>

  <div class="col-sm" data-aos="fade-up">
    <div class="card">
      <div class="card__head">
        <div class="card__image"><img class="card-img-top" style="width: 100%; height: 100%;" src="{% static 'img/esummit/pitchfest.jpeg'%}" alt="Card image"></div>
      </div>
      <div class="card__body">
        <h2 class="card__headline" style="color: var(--theme-color);"><strong>Pitchfest</strong></h2>
        </div>
      <div class="card__foot">
        <p class="card__text">
         	 This E-Summit’21, PITCHFEST brings you the opportunity to present your B-Plan in front of eminent personalities in the world of business
		 and get mentored in the right direction. Winners might even get a chance to be funded by our investors
        </p>
      </div>
      <div class="card__border"></div>
    </div>
  </div>
</div>
<br>
<a href="{% url 'event_page' %}" class="btn-get-started scrollto animate__animated animate__fadeInUp" style="position: absolute; right: 10px;">View all E-SUMMIT'21 Events  <i class="fa fa-arrow-right"></i></a>
</div>
</div>
  

      </div>
    </section>

    <!-- End Events Section -->


    <!-- ======= Speakers Section ======= -->

    <section id="testimonials" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">

          <h3>Past Speakers</h3>

        </header>
        <div id="bar"></div>

        <div class="owl-carousel speakers-carousel">

          <div class="testimonial-item">

            <img src="{% static 'img/esummit/prajakta.jpeg'%}" class="testimonial-img" alt="">

            <h3>Ms. Prajakta Koli</h3>

            <h4>YouTuber, popularly known as “MostlySane”</h4>

            <p>

              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">

              One of India’s biggest YouTube stars, Prajakta Koli, spoke at E-SUMMIT’19 to a jam-packed audience of over 6000 students. She covered a range of topics, from battling stereotypes about women in comedy to her perspective on the reason behind her insane fame. 

              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

            </p>

          </div>




         <div class="testimonial-item">

            <img src="{% static 'img/esummit/rahul.jpeg'%}" class="testimonial-img" alt="">

            <h3>Mr. Rahul Kaushik</h3>

            <h4>Founder, The Melting Words </h4>

            <p>

              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">

              Mr. Rahul Kaushik’s work and his page, The Melting Words has been wildly popular among the youth and the enthusiasm of the crowd was certainly unparalleled. The session included topics ranging from the source of inspiration behind his works to his formula for mega social media popularity.

              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

            </p>

          </div>



          <div class="testimonial-item">

            <img src="{% static 'img/esummit/shaan.jpeg'%}" class="testimonial-img" alt="">

            <h3>Ms. Shaan Suhas Kumar</h3>

            <h4>Miss India Earth 2017 </h4>

            <p>

              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">

              The maiden edition of E-Summit in 2018 proudly hosted the very talented, Ms. Shaan Suhas Kumar, India’s representative at the Miss Earth 2017. She spoke about her incredible journey of being a girl from a small city in India to achieving international fame by representing India at one of the biggest beauty pageants in the world.

              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

            </p>

          </div>



          <div class="testimonial-item">

            <!--<img src="" class="testimonial-img" alt="">-->
            <div class="row" style="padding-left: 35%">
              <div class="col-sm-3 col-sm-offset-1"><img src="{% static 'img/esummit/mir.jpeg'%}" class="testimonial-img" alt=""></div>
              <div class="col-sm-3"><img src="{% static 'img/esummit/indra.jpeg'%}" class="testimonial-img" alt=""></div>
            </div>
            <h3>Mr. Mir Afsar Ali & Mr. Indrajit Lahiri</h3>

            <h4>(Indian RJ, TV Anchor) & (YouTuber, Blogger)</h4>

            <p>

              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
		During the virtual E-Summit 2021, we had with us, Mr. Mir Afsar Ali, the MIRacle himself, and Mr. Indrajit Lahiri, or FOODKA. Through the session, they enlightened us on the thought behind their initiative FOODKA, and of course we gathered some insights on how comic relief can bring us out of the gloomiest of situations
              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

            </p>

          </div>



          <div class="testimonial-item">

            <img src="{% static 'img/esummit/abhiandniyu.jpeg'%}" class="testimonial-img" alt="">

            <h3>Mr. Abhiraj Rajadhyaksha and Ms. Niyati Mavinkurve</h3>

            <h4>YouTuber Couple, popularly known as Abhi and Niyu</h4>

            <p>

              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">

              	Abhi and Niyu, immensely popular content creators who together gained popularity through their initiative #100ReasonsToLoveIndia spoke at the virtual E-Summit 2020. In the panel discussion, the duo revealed that one of the reasons behind their #100ReasonsToLoveIndia series was to educate millennials about the beauty of India and the historical significance it holds.

              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

            </p>
          </div>
        </div>
        
      </div>
    </section>

        <!-- ======= End Speakers Section ======= -->

        <br>
        <br>

        <div class="container">
        </head>
         <header class="section-header">
    
            <h3>Glimpses</h3>
    
          </header>
          <!-- Swiper -->
          <div class="swiper-container" data-aos="fade-up" style="padding-top: 50px; padding-bottom: 50px;" id="glimpses">
            <div class="swiper-wrapper">
              <div class="swiper-slide" style="background-image:url('{% static 'img/esummit/cr1.jpeg' %}');
              height:300px; width:350px;background-position: center;
              background-size: cover;">
                <div class="container" style="max-width: 300px; height: 250px;"></div>
                <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width: 100%; height: 50px; text-align: center;">
                  <div class="panel-body" style="padding-top: 10px; color: var(--theme-color);">Auction Arcadia: Favourite among Cricket fans</div>
                </div>
              </div>
              <div class="swiper-slide" style="background-image:url('{% static 'img/esummit/cr2.jpeg' %}');
              height:300px; width:350px;background-position: center;
              background-size: cover;">
                <div class="container" style="max-width: 300px; height: 250px;"></div>
                <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
                  <div class="panel-body" style="padding-top: 10px; color: var(--theme-color);">Board Room: A game of wits and strategy</div>
                </div>
              </div>
              <div class="swiper-slide" style="background-image:url('{% static 'img/esummit/cr3.jpeg' %}');
              height:300px; width:350px;background-position: center;
              background-size: cover;">
                <div class="container" style="max-width: 300px; height: 250px;"></div>
                <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
                  <div class="panel-body" style="padding-top: 10px; color: var(--theme-color);">Felicitation Ceremony</div>
                </div>
              </div>
              <div class="swiper-slide" style="background-image:url('{% static 'img/esummit/cr4.jpeg' %}');
              height:300px; width:350px;background-position: center;
              background-size: cover;">
                <div class="container" style="max-width: 300px; height: 250px;"></div>
                <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
                  <div class="panel-body" style="padding-top: 10px; color: var(--theme-color);">Rahul Kaushik at E-SUMMIT'19</div>
                </div>
              </div>
              <div class="swiper-slide" style="background-image:url('{% static 'img/esummit/cr5.jpeg' %}');
              height:300px; width:350px;background-position: center;
              background-size: cover;">
                <div class="container" style="max-width: 300px; height: 250px;"></div>
                <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width: 100%; height: 50px; text-align: center;">
                  <div class="panel-body" style="padding-top: 10px; color: var(--theme-color);">Inauguration Ceremony</div>
                </div>
              </div>
              <div class="swiper-slide" style="background-image:url('{% static 'img/esummit/cr6.jpeg' %}');
              height:300px; width:350px;background-position: center;
              background-size: cover;">
                <div class="container" style="max-width: 300px; height: 250px;"></div>
                <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
                  <div class="panel-body" style="padding-top: 10px; color: var(--theme-color);">Unique and Fun events</div>
                </div>
              </div>
              
              </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <br>

        <!-- ======= Sponsor Section ======= -->
        <section id="testimonials" class="section-bg">
        <div class="container" data-aos="fade-up">
        <section id="clients">
        <div class="container" data-aos="zoom-in">

        <header class="section-header">
          <h3>Our Sponsors</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="{% static 'img/esummit/sp1.jpeg' %}" alt="image1">
          <img src="{% static 'img/esummit/sp2.jpeg' %}" alt="image2">
          <img src="{% static 'img/esummit/sp3.jpeg' %}" alt="image3">
          <img src="{% static 'img/esummit/sp4.jpeg' %}" alt="image4">
          <img src="{% static 'img/esummit/sp5.jpeg' %}" alt="image5">
          <img src="{% static 'img/esummit/sp6.jpeg' %}" alt="image6">
        </div>
       
      </div>
    </section><!-- End SPonsor Section -->

    </div>
    </section>
    <script src="{% static 'js/timeline.js' %}"></script>

  </main>

  {% endblock %}
