{% extends 'events/base_event.html' %} {% load static %} {% block content %}

<!-- Developers CSS file -->
<link rel="stylesheet" type="text/css" href="{% static "css/webteam.css" %}">

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous"
/>

<div class="AllBig">
  <!-- <section id="about"> -->
  <div class="container">
    <div class="container quote">
      <div>
        <div class="col-ls quote1">
          <h1>
            <span>M</span><span>eet</span> <span>O</span><span>ur</span>
            <span>D</span><span>ev'OPs</span>
          </h1>
        </div>
        <div class="grey-line"></div>
        <div class="coloured-line"></div>
      </div>
    </div>

    <div class="cards">
      <!-- <div class="col"> -->

      <div class="card">
        <div class="imgBx">
          <img
            class="inner-img"
            src="{% static 'img/webteam/Amish_Bharti.jpeg'%}"
            alt="Team Image"
          />
        </div>
        <div class="content">
          <div class="contentBx">
            <a href="#"><h3>Amish Bharti</h3></a>
          </div>
          <div class="facions">
            <a href="https://github.com/amish1999"
              ><i class="fa fa-github fa-2x"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Prakhar Srivastav -->
      <div class="card">
        <div class="imgBx">
          <img
            class="inner-img"
            src="{% static 'img/webteam/Prakhar_Srivastava.jpeg'%}"
            alt="Team Image"
          />
        </div>

        <div class="content">
          <div class="contentBx">
            <a href="#"><h3>Prakhar Srivastava</h3></a>
          </div>
          <div class="facions">
            <a href="https://github.com/Prakhar19999"
              ><i class="fa fa-github fa-2x"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img
            class="inner-img"
            src="{% static 'img/webteam/Sayan_Pal.jpeg'%}"
            alt="Team Image"
          />
        </div>
        <div class="content">
          <div class="contentBx">
            <a href="#"><h3>Sayan Pal</h3></a>
          </div>
          <div class="facions">
            <a href="https://github.com/sayanp99"
              ><i class="fa fa-github fa-2x"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img
            class="inner-img"
            src="{% static 'img/webteam/Subhajoy_Mahanta.jpeg'%}"
            alt="Team Image"
          />
        </div>
        <div class="content">
          <div class="contentBx">
            <a href="#"><h3>Subhajoy Mahanta</h3></a>
          </div>
          <div class="facions">
            <a href="https://github.com/Subhajoy123"
              ><i class="fa fa-github fa-2x"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img
            class="inner-img"
            src="{% static 'img/webteam/Abha_Jha.jpeg' %}"
            alt="Team Image"
          />
        </div>
        <div class="content">
          <div class="contentBx">
            <a href="#"><h3>Abha Jha</h3></a>
          </div>
          <div class="facions">
            <a href="https://github.com/Abha2001"
              ><i class="fa fa-github fa-2x"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img
            class="inner-img"
            src="{% static 'img/webteam/Ankit_Rai.jpeg'%}"
            alt="Team Image"
          />
        </div>
        <div class="content">
          <div class="contentBx">
            <a href="#"><h3>Ankit Rai</h3></a>
          </div>
          <div class="facions">
            <a href="https://github.com/spaceySama"
              ><i class="fa fa-github fa-2x"></i
            ></a>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </div>

    <!-- CONTRIBUTORS -->
    <div class="container quote">
      <div>
        <div class="col-ls quote1">
          <h1><span>Con</span><span>tributors</span></h1>
        </div>
        <div class="grey-line"></div>
        <div class="coloured-line"></div>
      </div>
    </div>

    <div class="cards_con">
      {% for contributor in contributors %}
      <div class="card">
        <div class="imgBx">
          {% if contributor.image %}
          <img
            class="inner-img"
            src="{{contributor.image.url}}"
            alt="Team Image"
          />
          {% else %}
          <img
            src="https://scontent.fccu11-1.fna.fbcdn.net/v/t1.0-9/33769797_990308764482605_4005773412654907392_n.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_ohc=1KtBpyshob8AX8M-tp7&_nc_ht=scontent.fccu11-1.fna&oh=ef6a8915aedec2ab5f776f01c713efe3&oe=5F47208D"
            alt="photo"
          />
          {% endif %}
        </div>
        <div class="content">
          <div class="contentBx">
            <h3>{{contributor.name}}</h3>
          </div>
          <div class="facions">
            <a href="{{contributor.github}}"
              ><i class="fa fa-github fa-2x"></i
            ></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
