{% extends 'events/base_event.html' %}
{% load static %}
{% block content %}

 

  <!-- Team CSS file -->
  <link rel="stylesheet" type="text/css" href="{% static "css/webteam.css" %}">

  <div class="container">
    <h1 class="team-title">Meet  the  Dev'Ops</h1>
      <div class="grey-line"></div>
      <div class="coloured-line"></div>
    <div class="members" style="padding-top: 30px;">

      <div class="flex-container">

        <div class="final-container">
            <div class="image">
              <img src="" alt="Team Image">
            </div>
            <div class="social-links">
                <span><a href="https://github.com/amish1999" target="_blank"><i class="fa fa-github github" aria-hidden="true" style="background-color: black; padding: 5px; border-radius: 5px; width: 26px; height: 26px;"></i></a></span>
              </div>
           <div class="name" style="color: black;">
              <h5>Amish <br>Bharti</h5>
            </div>
          </div>

          <div class="final-container">
            <div class="image">
              <img src="" alt="Team Image">
            </div>
            <div class="social-links">
                <span><a href="https://github.com/Prakhar19999" target="_blank"><i class="fa fa-github github" aria-hidden="true" style="background-color: black; padding: 5px; border-radius: 5px; width: 26px; height: 26px;"></i></a></span>
              </div>
           <div class="name" style="color: black;">
              <h5>Prakhar <br>Srivastava</h5>
            </div>
          </div>

          <div class="final-container">
            <div class="image">
              <img src="" alt="Team Image">
            </div>
            <div class="social-links">
                <span><a href="https://github.com/sayanp99" target="_blank"><i class="fa fa-github github" aria-hidden="true" style="background-color: black; padding: 5px; border-radius: 5px; width: 26px; height: 26px;"></i></a></span>
              </div>
           <div class="name" style="color: black;">
              <h5>Sayan <br>Pal</h5>
            </div>
          </div>

      </div>


     <!--2nd flex-->
     <div class="flex-container">
        
        <div class="final-container">
          <div class="image">
            <img src="" alt="Team Image">
          </div>
          <div class="social-links">
              <span><a href="https://github.com/Subhajoy123" target="_blank"><i class="fa fa-github github" aria-hidden="true" style="background-color: black; padding: 5px; border-radius: 5px; width: 26px; height: 26px;"></i></a></span>
            </div>
         <div class="name" style="color: black;">
            <h5>Subhajoy <br>Mahanta</h5>
          </div>
        </div>

        <div class="final-container">
          <div class="image">
            <img src="" alt="Team Image">
          </div>
          <div class="social-links">
              <span><a href="https://github.com/Abha2001" target="_blank"><i class="fa fa-github github" aria-hidden="true" style="background-color: black; padding: 5px; border-radius: 5px; width: 26px; height: 26px;"></i></a></span>
            </div>
         <div class="name" style="color: black;">
            <h5>Abha <br>Jha</h5>
          </div>
        </div>

        <div class="final-container">
          <div class="image">
            <img src="" alt="Team Image">
          </div>
          <div class="social-links">
              <span><a href="https://github.com/spaceySama" target="_blank"><i class="fa fa-github github" aria-hidden="true" style="background-color: black; padding: 5px; border-radius: 5px; width: 26px; height: 26px;"></i></a></span>
            </div>
         <div class="name" style="color: black;">
            <h5>Ankit <br>Rai</h5>
          </div>
        </div>

    </div>

    </div>
</div>    
  
{% endblock %}
