@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

:root {
    --clr-bg-dark: #232931;
    --theme-color: #4ECCA3;
    --clr-text-light: #eee;
    --clr-bg-light: #393e46;
    --clr-bg-light-50 : hsl(217, 10%, 35%);
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg-dark);
    color: white;
}

/*no scroll-bar*/
body
{
    overflow-y: scroll;
    cursor: context-menu;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* no scroll bar ended*/
