.internships-heading {
  padding-top: 50px;
  font-weight: 500 !important;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.filter {
  margin-bottom: 40px;
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: center;
  gap: 1rem;
}

#internships-position,#order-s {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

#position-filter, #internships-order {

  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--theme-color);
  outline: none;
  border: none !important;
}

#position-filter option{
    text-align: center;
}

.active_position {
  text-align: center;
  margin: 1em auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.available {
  margin: 0 auto;
  font-family: "Roboto" !important;
  border-radius: 10px;
  font-weight: 500px;
  padding: 10px;
  padding-left: 20px;
  width: 50%;
  min-width: 285px;
  /* background-image: linear-gradient(
    to right,
    rgba(39, 39, 39, 0.582),
    rgba(39, 39, 39, 0.411)
  ); */
  /* box-shadow: inset 0 0 40px rgba(90, 90, 90, 0.5); */
  background-color: var(--clr-bg-light-50);
}


.available h4 span{
    font-weight: 600;
    margin-bottom: 10px;
}

.available a{
    
    color:white;
    font-weight: 600;
    align-content: center;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.3em;
    background-color: var(--theme-color);

}
