@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
:root {
  --clr-bg-dark: #111112;
  --clr-theme: #f97f0f;
  --clr-bg-light: #c4c4c4;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #111112;
  color: white;
}
