{% load static %}
<link rel="stylesheet" href="{% static 'css/snippets/sotm_footer.css' %}">
<link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<footer id="footer">

    <div class="footer-top">
    
      <div class="container-fluid">
    
        <div class="row">
    
          <div class="col-lg-1">
          </div>
    
          <div class="col-lg-3 footer-info">
    
            <h3 style="text-align: center;">Entrepreneurship Development Cell</h3>
            <p style="border-left: 4px solid var(--theme-color); text-align:center;">NIT Durgapur</p>            
            <br>
            <p style="text-align:center;">Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="{% url 'web_team' %}"> Web-Team </a></p>
            <p style="text-align:center;">© <span id="Auto_Year"></span> EDC. All Rights Reserved.</p>
          </div>
  
        <div class="col-lg-1">
          </div>  
    
          <div class="col-md-3 footer-contact">
    
            <h4>Contact Us</h4>
    
            <p>
    
              <i class="fa fa-map-marker"> :</i> Mahatma Gandhi Avenue,<br> A-Zone, Durgapur,
               West Bengal <br> Durgapur: 713209 
               <br>
    
              <i class="fa fa-phone "></i> : +91 96096 04777 (Swagata Laxmi Sengupta)<br>
    
              <i class="fa fa-envelope-o"> :</i><a href="mailto:edcnitd.official@gmail.com"> edcnitd.official@gmail.com</a><br>
    
            </p>
    
            
    
    
            <div class="social-links">
    
              <a target="_blank" href="https://twitter.com/edcnitd" class="twitter"><i class="fa fa-twitter"></i></a>
    
              <a target="_blank" href="https://www.facebook.com/edc.nitd" class="facebook"><i class="fa fa-facebook"></i></a>
    
              <a target="_blank" href="https://www.instagram.com/edc.nitd" class="instagram"><i class="fa fa-instagram"></i></a>
    
              <a target="_blank" href="https://www.youtube.com/channel/UCaBiTXfp5gknGPS6N3asDBg" class="google-plus"><i class="fa fa-youtube"></i></a>
    
              <a target="_blank" href="https://www.linkedin.com/company/edcnitd/" class="linkedin"><i class="fa fa-linkedin"></i></a>
    
            </div> 
    
          </div>
  
        <div class="col-lg-1">
          </div>
    
          <div class="col-lg-2 footer-links">
            
    
            <h4>Useful Links</h4>
    
            <ul>
    
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'home_page' %}">Home</a></l>
    
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'esummit_page' %}">E-Summit'21</a></li>
    
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'event_page' %}">Event Registrations</a></li>
  
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'post:post_list' %}">E-Quest</a></li>
    
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'sotm:sotm_home' %}">Startup of the Month</a></li>
  
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'team_page' %}">Our Team</a></li>
  
              <li><i class="ion-ios-arrow-right"></i> <a href="https://nitdgp.ac.in/iic/" target="_blank">Innovation and Incubation Cell (IIC)</a></li>
            </ul>
    
          </div>
  
            
    
    
    <!-- x 
          <div class="col-lg-3 col-md-6 footer-newsletter">
    
            <h4>Get Notified for Future Events.</h4>
    
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
    
            <form action="" method="post">
    
              <input type="email" name="email"><input type="submit" value="Subscribe">
    
            </form>
    
          </div>
    
    -->
    
        </div>
    
      </div>
    
    </div>
    
    
    
    </div>
    
    </footer><!-- End Footer -->

<script src="{% static 'js/footer_base.js' %}"></script>