@import url('https://fonts.googleapis.com/css2?family=Scada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');

/* POSTER */
body{
  margin: 0%;
  padding: 0;
  width: 100%;
}

.container{
  min-width: 1500px;
}

.pad{
  padding-top: 60px;
}

.event-name{
  color: var(--theme-color);
  font-size: 6rem !important;
  padding-top: 1rem;
  font-weight: 700;
}

.team-title{
  color: var(--theme-color) !important;
}

.section-header h3::after {
  width: 80px;
  height: 4px;
  left: calc(50% - 40px);
}

.section-header h3::before {
  width: 200px;
  height: 2px;
  left: calc(50% - 100px);
}

.section-header{
  display: flex;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  margin-top: 1rem;
  padding:0%
}

.about-event{
  font-size: 2.3rem !important;
  font-weight: 100 !important;
}

.date-calender{
  text-align: center;
  font-family: 'Scada', sans-serif;
  font-weight: 350;
  font-size: 2.3rem;
  color: black;
}

.heading {
  margin-top: 0.5% !important;
  font-weight: 300;
  text-transform: none !important;
}

  
.content-container{
  position: relative;
  width: 100%;
}
  
@media screen and (min-width: 700px) {
  .justify-content-start {
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .content-container {
    flex: 0 0 calc(50% - 0.5rem);
  }
}

@media screen and (min-width: 992px) {
  .content-container {
    flex: 0 0 calc(50% - 0.5em);
  }
}

img{
  height: 100%;
  width: 100%;
}

.container_pad{
  width: 100%;
  max-width: 100vw;
}

.section-header-eve{
  width: 100%;
}

.poster_img{
  margin:0 !important;
  padding: 0%;
  box-sizing:border-box;
  margin-bottom: 4rem;
  min-width: 100% !important;
}

.poster-eve{
  border-radius: 10px;
}

.poster-eve:hover{
  cursor: pointer;
  box-shadow: 0 0 11px rgba(36, 35, 35, 0.507); 
  opacity: 0.95;
}

.eve_img img:hover{
  cursor: pointer;
  scale: transform(1.5);
  overflow: hidden;
}

.eve_img_desc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
  transform: translateX(-1.5%);
}

.eve_descrip{
  display: flex;
  align-items:flex-start;
  width: 50%;
  flex-direction:column;
  padding-left: 4rem;
  padding-top: 0;
  padding-bottom: 0%;
  margin-left: 10px;
  margin-right:20px;
  text-align: left;
}

.eve_img {
  display: flex;
  flex: 1;
  height: 88%;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-left: 10PX;
  padding-right: 10px;
  padding: 1rem;
  padding-top: 4.5rem;
  margin-left: 3rem;
}

.poster_img .eve_img_desc .eve_descrip p{
  font-size: 25px !important;
  color: var(--theme-color);
  text-shadow: 0 2px 1px #adb5bd00;
  font-family: 'Scada', sans-serif;
  font-size: 1.4rem; 
  text-align: left;
  text-transform: initial;
}

.poster_img .eve_img_desc .eve_descrip h1{
  text-align: left;
  font-size: 24px;
  font-weight: 550;
  font-family: 'Scada', sans-serif;
  color:black;
  text-transform: initial;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.btn-eve{
  margin-top: 2rem !important;
  width: 100%;
}

.btn-register{
  width: 400px;
  font-size: 40px !important;
  font-weight: 800 !important;
  letter-spacing: 2px;
  color: #fff !important;
  background-color: var(--theme-color) !important;
  align-items: center;
  border-radius: 8px !important;
  font-family: 'Gemunu Libre', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-register-prizes{
  width: 80px;
  font-size: 40px !important;
  font-weight: 800 !important;
  letter-spacing: 2px;
  color: var(--theme-color) !important;
  background-color: white !important;
  border: 4px solid var(--theme-color) !important;
  align-items: center;
  border-radius: 50% !important;
  font-family: 'Gemunu Libre', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.3s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  color: var(--theme-color);
  border: 2px dashed var(--theme-color);
  font-size: 2.3rem;
  font-family: 'Scada', sans-serif;
  position: absolute;
  letter-spacing: 0;
  padding: 1px 3px 1px 3px;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

.btn-register-prizes-muted{
  width: 80px;
  font-size: 40px !important;
  font-weight: 800 !important;
  color: gray !important;
  background-color: white !important;
  border: 4px solid gray !important;
  align-items: center;
  border-radius: 50% !important;
  cursor: not-allowed !important;
}

.modal-title{
  font-size: 25px;
  font-weight: 600;
  font-family: "Scada", sans-serif;
}

.modal-body{
  font-size: 18px;
  font-weight: 200;
}

.checky-checky{
  font-size: 20px;
}

@media (max-width: 1150px){
  .eve_img_desc{
    height: auto;
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: space-between;
  }

  .eve_img{
    max-width: 90vw;
  }

  .btn-register{
    transform: scale(0.8);
  }

  .btn-register-all{
    transform: scale(0.8);
  }

  .btn-register-prizes{
    transform: scale(0.8) translateX(-40%);
  }

  .eve_img{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px; 
  }

  .eve_descrip{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem;
    padding-bottom: 0%;
    margin-left: 10px;
    margin-right:20px;
    text-align: left;
  } 
}

@media (max-width: 600px){
  .eve_img_desc {
    margin: 0;
    padding-left: 0;
    left: 0;
    margin-right: 10px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: auto;
    transform: translateX(-2%);
  }
  
  .btn-register{
    transform: scale(0.6) translateX(8%);
  }

  .btn-register-all{
    transform: scale(0.6) translateX(8%);
  }

  .btn-register-prizes{
    transform: scale(0.6) translateX(-165%);
  }

  .eve_img{
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    max-width: 100vw !important;
    margin-right: 20px;
    padding: 10px;
  }

  .eve_img .poster_img{
    margin: 0;
  }

  .eve_descrip{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4rem;
    padding-top: 0;
    padding-bottom: 0%;
    margin-left: 10px;
    margin-right:20px;
    text-align: left;
    margin-top: 1rem;
  } 
}


/***** button *****/
.back-btn-eve{
  margin-left: 0.8rem;
  color: var(--theme-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding-top: 1rem;
  font-size: 3rem;
  transition: 0.5s;
}
.back-btn-eve:hover {
  cursor: pointer;
  /* transform: scale(1.2); */
  opacity: 1;
  transform: translateY(5px);
  /* box-shadow: var(--theme-color); */
}
@media (min-width: 769px) {
  .back-btn-eve{
    padding-top: 1rem;
  }
  
}

/*SLIDER*/

.main{
  overflow: hidden !important; 
  align-items: center !important;
}

.container-slider-glade {
  max-width: 75vw !important;
  width: 100%;
  padding: 4rem 2rem !important;
  margin: 0 auto;
  align-items: center !important;
}

.swiper-container{
  width: 80%;
  height: 50%; 
  padding: 0 !important;
  overflow:hidden !important;
  align-items: center !important;
  margin-left: 8.75vw;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.main .container .swiper-container .swiper-wrapper .swiper-slide .card-image {
  background: #fff;
  border: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

.main .container .swiper-container .swiper-wrapper .swiper-slide .card-image img {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullets{
  margin-left: 2vw;
}

.swiper-pagination-bullet {
  opacity: 0.8;
  background-color: black;
}

.swiper-pagination-bullet-active {
  background-color: var(--theme-color) !important;
}

.main .container .swiper-container .swiper-button-next, .main .container .swiper-container .swiper-button-prev {
  background-image: none;
  background-size: 0;
  background-repeat: no-repeat;
  background-position: 0;
  margin-top: -1rem;
}

.main .container .swiper-container .swiper-button-next .arrow-icon, .main .container .swiper-container .swiper-button-prev .arrow-icon {
  font-size: 2rem;
  color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  left: -48px !important;
}

.swiper-button-next{
  color: white !important;
  background-color: var(--theme-color);
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% !important;
  font-weight: 900;
  text-indent: 5px;
}

.swiper-button-prev{
  color: white !important;
  background-color: var(--theme-color);
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% !important;
  font-weight: 900;
  text-indent: -5px;
}

@media screen and (max-width:1300px){
  .swiper-container{
    max-width: 80rem !important;
  }  
  
  .swiper-button-next{
    display: none !important;
  }
  
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    left: -288px !important;
  }
  
  .swiper-button-prev{
    display: none !important;
  }
}

@media screen and (max-width:800px){
  .swiper-container{
    max-width: 60rem !important;
  }  
  
  .swiper-button-next{
    right: 105vw !important;
  }
  
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    left: -388px !important;
  }
  
  .swiper-button-prev{
    left: 2.7vw !important;
  }
  
  .swiper-button-prev{
    display: none !important;
  }
  
  .but{
    display: none !important;
  }
}

@media screen and (max-width: 500px){
  .swiper-container{
    max-width: 27rem !important;
  }
  
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    width: 75% !important;
  }
  
  .swiper-button-prev{
    display: none !important;
  }
  
  .but{
    display: none !important;
  }
}

/*TIMELINE*/

.wrapper-card{
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items:center;
  width: 100%;
  max-width: 100vw;
}

.card-time-left {
  width: 100%;
  float: left;
  margin-left: calc(15% - 15px);
  margin-right: 15%;
  margin-top: 5%;
  width: 100%;  
  padding:0 !important;
  border-left: 3px solid var(--theme-color);
  border-bottom: 3px solid var(--theme-color);
  border-bottom-left-radius: 15px;
}

.card-time-right {
  width: 100%;
  float: right;
  margin-top: -3px;
  margin-left: 15%;
  margin-right: calc(15% - 15px);
  border-right: 3px solid var(--theme-color);
  border-top: 3px solid var(--theme-color);
  border-bottom: 3px solid var(--theme-color);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.card-odd-last{
  width: 100%;
  float: left;
  margin-left: calc(15% - 15px);
  margin-right: 15%;
  margin-top: -3px;
  border-left: 3px solid var(--theme-color);
  border-top: 3px solid var(--theme-color);
  border-top-left-radius: 15px;
}
.card-time-left-top {
  width: 100%;
  float: left;
  margin-left: calc(15% - 15px);
  margin-right: 15%;
  margin-top: -3px;
  border-left: 3px solid var(--theme-color);
  border-top: 3px solid var(--theme-color);
  border-bottom: 3px solid var(--theme-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card-time-right-bottom {
  width: 100%;
  float: right;
  margin-right: calc(15% - 15px);
  margin-left: 15%;
  margin-top: -3px;
  border-right: 3px solid var(--theme-color);
  border-top: 3px solid var(--theme-color);
  border-top-right-radius: 15px;
}

.bullet-time-right{
  justify-content: right;
  text-align: right;
  padding: 4px 4px;
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
  border: 5px solid var(--theme-color);
  height: 25px;
  z-index: 2;
  width: 25px;
  left: 100%;
  transform: translateX(4125%);
}

.bullet-time {
  padding: 4px 4px;
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
  border: 5px solid var(--theme-color);
  height: 25px;
  z-index: 2;
  width: 25px;
  left: -50%;
  transform: translateX(-55%);
}

.round-time-left {
  border-radius: 30%;
  border: 3px solid var(--theme-color);
  background-color: var(--theme-color);
  color: #fff;
  height: 51px;
  width: 56px;
  z-index: 2;
  top: 50%;
  transform: translate(-50%, 95%);
  padding: 16px 20px;
}

.round-time-right{
  border-radius: 30%;
  border: 3px solid var(--theme-color);
  background-color: var(--theme-color);
  color: #fff;
  height: 51px;
  width: 56px;
  z-index: 2;
  top: 50%;
  transform: translate(0, 95%);
  padding: 16px 20px;
}

.text-time-left{
  padding-left: 8rem;
  padding-bottom: 2rem;
  width: 75%;
  word-break: break-word;
}

.text-time-right{
  padding-right: 8rem;
  padding-bottom: 2rem;
  margin-left: 25%;
}

.text-time-left p{
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.text-time-right p{
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.text-time-left h2{
  font-size: 25px !important;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  text-shadow: 0 1px 0px #adb5bd;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
}

.text-time-right h2{
  font-size: 25px !important;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  text-shadow: 0 1px 0px #adb5bd;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
}
.card-odd-last{
  width: 100%;
  float: left;
  margin-left: calc(15% - 15px);
  margin-right: 15%;
  margin-top: -3px;
  border-left: 3px solid var(--theme-color);
  border-top: 3px solid var(--theme-color);
  border-top-left-radius: 15px;
}

@media (max-width: 767px)  {
  .text-time-left{
      padding-left: 4rem;
      padding-bottom: 1.5rem;
      padding-right: 2rem;
      width: 100%;
      word-break: break-word;
  }

  .text-time-right{
    padding-right: 4rem;
    padding-bottom: 1.5rem;
    word-break: break-word;

    margin-left: 1rem;
  }
  
  .card-time-right {
    margin-right: calc(20% - 15px);
    word-break: break-word;

  }

  .card-time-left-top { 
    margin-left: calc(10% - 15px);
    margin-right: 20%;
  }
  
  .card-time-left {
    margin-left: calc(10% - 15px);  
    margin-right: 20%;
  }
  .card-odd-last{
    margin-right: 20%;
    margin-left: calc(10% - 15px);  

  }
}
@media (max-width: 415px) {
  .card-odd-last{
    margin-right: 100px;
  }
  
}


.timeline-right{
  text-align: right; 
  justify-content: right; 
  margin-left: 100%;  
  transform: translate(-50%, 95%);
}

.timeline-right-right{
  text-align: right; 
  justify-content: right; 
  margin-left: 100%;  
  transform: translate(-50%, 95%);
}

.round-time-left-unchecked {
  border-radius: 30%;
  border: 3px solid var(--theme-color);
  background-color: white;
  color: var(--theme-color);
  height: 51px;
  width: 56px;
  z-index: 2;
  top: 50%;
  transform: translate(-50%, 95%);
  padding: 16px 20px;
}

.round-time-right-unchecked{
  border-radius: 30%;
  border: 3px solid var(--theme-color);
  background-color: white;
  color: var(--theme-color);
  height: 51px;
  width: 56px;
  z-index: 2;
  top: 50%;
  transform: translate(-50%, 95%);
  padding: 16px 20px;
}
/***** button *****/
.back-btn-eve{
  margin-left: 0.8rem;
  color: var(--theme-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding-top: 1rem;
  font-size: 3rem;
  transition: 0.5s;
}
.back-btn-eve:hover {
  cursor: pointer;
  /* transform: scale(1.2); */
  opacity: 1;
  transform: translateY(5px);
  /* box-shadow: var(--theme-color); */
}
@media (min-width: 770px) {
  .back-btn-eve{
    padding-top: 1rem;
  }
  
}
