@import url('https://fonts.googleapis.com/css2?family=Scada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');
body
{
  margin: 0%;
  padding: 0;
  width: 100%;
}
.container{
  min-width: 1500px;
}

.pad{
  padding-top: 60px;
}

.event-name{
  font-family: 'Scada', sans-serif;
  font-size: 6rem !important;
  padding-top: 1rem;
  font-weight: 600;
}

.section-header h3::after {
  width: 80px;
  height: 4px;
  left: calc(50% - 40px);
}

.section-header h3::before {
  width: 200px;
  height: 2px;
  left: calc(50% - 100px);
}
.section-header{
  display: flex;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  margin-top: 9rem;
  padding:0%
}

.poster{
  width: 600px; 
  height: 600px;
  display: block;
  max-width: 100%;
  border: 4px ridge var(--theme-color);
}

.text-desc{
  font-size: 2.7rem;
  text-align: left;
  font-family: 'Scada', sans-serif;
  font-weight: 600;
  color: var(--theme-color);
}

.about-event{
  text-align: left;
  font-size: 1.82rem;
  font-family: 'Scada', sans-serif;
  font-weight: 300;
}

.date-calender{
  text-align: center;
  font-family: 'Scada', sans-serif;
  font-weight: 300;
  color: black;
}



.heading {
  margin-top: 0.5% !important;
  font-weight: 300;
  text-transform: none !important;
}

  /******** new code *********/
  .content-container{
    position: relative;
    width: 100%;
  }
  @media screen and (min-width: 700px) {
    .justify-content-start {
      padding: 0 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .content-container {
      flex: 0 0 calc(50% - 0.5rem);
    }
  }
  @media screen and (min-width: 992px) {
    .content-container {
      flex: 0 0 calc(50% - 0.5em);
    }
  }
  

 /****************slider code ******************/

[type=radio] {
  display: none;
}

img{
  height: 100%;
  width: 100%;
}

#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-500px);
  z-index: 10;
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-66%,0,-700px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0px,-300px);
  z-index: 100;
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(66%,0,-700px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-500px);
  z-index: 10;
}


/**********timeline 3**********/
 




/******* poster and image ******/
.container_pad{
  width: 100%;
  max-width: 100vw;
}
.section-header-eve{
  width: 100%;
}
.poster_img{
  margin:0;
  padding: 0%;
  box-sizing:border-box;
  margin-bottom: 4rem;
  
 
}

.poster-eve{
  border-radius: 10px;
}
.poster-eve:hover{
  cursor: pointer;
  box-shadow: 0 0 11px rgba(36, 35, 35, 0.507); 
  opacity: 0.95;
}
.eve_img img:hover{
  cursor: pointer;
  scale: transform(1.5);
  overflow: hidden;
}
.eve_img_desc{
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  transform: translateX(-1.5%);
}

.eve_descrip{
  display: flex;
  align-items:flex-start;
  width: 50%;
  flex-direction:column;
  padding: 4rem;
  padding-top: 0;
  padding-bottom: 0%;
  margin-left: 10px;
  margin-right:20px;
  text-align: left;
}
.eve_img {
  display: flex;
  flex: 1;
  height: 88%;
  /* padding-top: 2rem; */
  justify-content: flex-end;
  align-items: center;
  width: auto;
  max-width: fit-content;
  padding-left: 10PX;
  padding-right: 10px;
  padding: 1rem;
  padding-top: 4.5rem;
  margin-left: 3rem;
}
.poster_img .eve_img_desc .eve_descrip p{
  font-size: 25px !important;
  color: var(--theme-color);
  font-weight: 600;
    text-shadow: 0 2px 1px #adb5bd00;
    font-family: "Raleway", sans-serif;
font-size: 1.4rem;
text-transform: capitalize; 
text-align: left;
}
.poster_img .eve_img_desc .eve_descrip h1{
  text-align: left;
  font-size: 19px;
  font-weight: 550;
  font-family: "Open Sans", sans-serif;
    color: #444444;
    text-transform: capitalize;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.btn-eve{
  margin-top: 2rem !important;
}

.btn-register{
  width: 400px;
  font-size: 40px !important;
  font-weight: 800 !important;
  letter-spacing: 2px;
  color: #fff !important;
  background-color: var(--theme-color) !important;
  align-items: center;
  border-radius: 8px !important;
  font-family: 'Gemunu Libre', sans-serif;
}
@media (max-width: 1150px){
  .eve_img_desc{
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: space-between;
    height: auto;
    
  }
  .btn-register{
    transform: scale(0.9) translateX(-5%);
  }
  .eve_img{
    display: flex;
      align-items: center;
      height: auto;
      width: 80% !important;
      max-width: fit-content;
      margin-right: 10px;
      margin-left: 10px;
      
  }
  .eve_descrip{
    display: flex;
    align-items:left;
    width: 100%;
    padding: 4rem;
    padding-bottom: 0%;
    margin-left: 10px;
    margin-right:20px;
    text-align: left;
  } 
}
@media (max-width: 600px){
 
.eve_img_desc {
  margin: 0;
  padding-left: 0;
  left: 0;
  margin-right: 10px;
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: auto;
  transform: translateX(-2%);
}
.btn-register{
  transform: scale(0.8) translateX(-5%);

}
  .eve_img{
    display: flex;
      align-items: center;
      height: 50%;
      width:100% !important;
      max-width: 100vw;
     padding: 10px;
     transform: translateX(3px);
      
  }
  .eve_img .poster_img{
    margin: 0;
  }
  .eve_descrip{
    display: flex;
    align-items:left;
    width: 100%;
    padding: 4rem;
    padding-top: 0;
    padding-bottom: 0%;
    margin-left: 10px;
    margin-right:20px;
    text-align: left;
    margin-top: 1rem;
  } 
}

/*****NEW timeline CODE*****/
.wrapper-card{
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items:center;
  
  width: 100%;
max-width: 100vw;
}

.card-time-left {
float: left;
margin-left: calc(15% - 15px);
margin-right: 15%;
margin-top: 5%;
width: 100%;  
padding:0 !important;
  
  border-left: 3px solid var(--theme-color);
  border-bottom: 3px solid var(--theme-color);
  border-bottom-left-radius: 15px;
}
 

.card-time-right {
  float: right;
  margin-top: -3px;
  margin-left: 15%;
  margin-right: calc(15% - 15px);
  border-right: 3px solid var(--theme-color);
  border-top: 3px solid var(--theme-color);
  border-bottom: 3px solid var(--theme-color);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.card-time-left-top {
  float: left;
margin-left: calc(15% - 15px);
margin-right: 15%;
margin-top: -3px;
  border-left: 3px solid var(--theme-color);
  border-top: 3px solid var(--theme-color);
  border-top-left-radius: 15px;
}
.card-time-right-bottom {
  float: right;
margin-right: calc(15% - 15px);
margin-left: 15%;
margin-top: -3px;
  border-right: 3px solid var(--theme-color);
  border-top: 3px solid var(--theme-color);
  border-top-right-radius: 15px;
}
.bullet-time-right{
  justify-content: right;
  text-align: right;
  padding: 4px 4px;
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
  border: 5px solid var(--theme-color);
  height: 25px;
  z-index: 2;
  width: 25px;
  left: 100%;
  transform: translateX(4125%);
  
}
.bullet-time {

  padding: 4px 4px;
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
  border: 5px solid var(--theme-color);
  height: 25px;
  z-index: 2;
  width: 25px;
  left: -50%;
  transform: translateX(-55%);
  
}
.round-time-left {
  border-radius: 30%;
  background-color: var(--theme-color);
  color: #fff;
  height: 45px;
  width: 50px;
  z-index: 2;
  top: 50%;
  transform: translate(-50%, 95%);
  padding: 16px 20px;
  
}
.round-time-right{
  border-radius: 30%;
  background-color: var(--theme-color);
  color: #fff;
  height: 45px;
  width: 50px;
  z-index: 2;
  top: 50%;
  transform: translate(0, 95%);
  padding: 16px 20px;
  
}
.text-time-left{
  padding-left: 8rem;
  padding-bottom: 2rem;
  width: 75%;
}
.text-time-right{
  padding-right: 8rem;
  padding-bottom: 2rem;
  margin-left: 25%;
}
.text-time-left p{
  
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
    color: #444444;
}
.text-time-right p{
  
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
    color: #444444;
}
.text-time-left h2{
  
  font-size: 25px !important;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
    text-shadow: 0 1px 0px #adb5bd;
    font-family: "Raleway", sans-serif;
font-size: 1.4rem;
}
.text-time-right h2{
  
  font-size: 25px !important;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
    text-shadow: 0 1px 0px #adb5bd;
    font-family: "Raleway", sans-serif;
font-size: 1.4rem;
}
@media (max-width: 767px)  {
  .text-time-left{
      padding-left: 4rem;
      padding-bottom: 1.5rem;
      padding-right: 2rem;
      width: 100%;
      
  
  }
  .text-time-right{
    padding-right: 4rem;
    padding-bottom: 1.5rem;
    margin-left: 1rem;
  }
  
.card-time-right {
  margin-right: calc(20% - 15px);
}
.card-time-left-top {
  
margin-left: calc(10% - 15px);
margin-right: 20%;

}
.card-time-left {
  margin-left: calc(10% - 15px);  
  margin-right: 20%;
  }
  
}
/***** slider *****/

.section-slider-swiper
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-left: 120px;
}

.swiper-container
{
  width: 80%;
  height: 50%;
  padding-top: 70px;
  padding-bottom: 50px;
  align-items: center;
  
}

.swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 80%;
    background: white;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(0px);
}

.swiper-slide-active
{
    filter: blur(0px);
}

.testimonialBox
{
    position: relative;
    width: 60%;
    padding: 40px;
    padding-top: 90px;
    color: #999;
}

.testimonialBox .content img
{
  position: absolute;
  align-items: center;
  top: 0;
  left: 0px;
  width: 450px;
  height: 320px;
  
}
