/*SLIDER*/

.main{
    overflow: hidden !important; 
    align-items: center !important;
}
  
.container-slider-glade {
    max-width: 80vw !important;
    width: 80% !important;
    padding: 4rem 2rem !important;
    margin: 0 auto;
    align-items: center !important;
    min-width: 300px !important;
}
  
.swiper-container{
    width: 80%;
    height: 50%; 
    padding: 0 !important;
    overflow:hidden !important;
    align-items: center !important;
    margin-left: 10%;
    padding-right: 5% !important;
}
  
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
  
.main .container .swiper-container .swiper-wrapper .swiper-slide .card-image {
    border: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    height: auto;
    align-items: center !important;
}
  
.main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .one-image {
    display: block;
    position: relative;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    width: 600px !important;
    height: 600px !important;
    object-fit: fill;
}
  
@media screen and (max-width:1000px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .one-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 500px !important;
      height: 500px !important;
    }
}
  
@media screen and (max-width:800px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .one-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 400px !important;
      height: 400px !important;
    }
}
  
@media screen and (max-width:700px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .one-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 350px !important;
      height: 350px !important;
    }
}
  
@media screen and (max-width:600px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .one-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 250px !important;
      height: 250px !important;
    }
}
  
.main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
    display: block;
    position: relative;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    width: 600px !important;
    height: 600px !important;
    object-fit: fill;
}
  
@media screen and (max-width:1700px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 500px !important;
      height: 500px !important;
    }
}
  
@media screen and (max-width:1550px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 430px !important;
      height: 430px !important;
    }
}
  
@media screen and (max-width:1325px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 380px !important;
      height: 380px !important;
    }
}
  
@media screen and (max-width:1175px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 340px !important;
      height: 340px !important;
    }
}
  
@media screen and (max-width:1025px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 300px !important;
      height: 300px !important;
    }
}
  
@media screen and (max-width:975px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 270px !important;
      height: 270px !important;
    }
}
  
@media screen and (max-width:860px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 250px !important;
      height: 250px !important;
    }
}
  
@media screen and (max-width:750px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 210px !important;
      height: 210px !important;
    }
}
  
@media screen and (max-width:651px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 100% !important;
      height: 378px !important;
    }
}
  
@media screen and (max-width:550px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 100% !important;
      height: 300px !important;
    }
}
  
@media screen and (max-width:500px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 100% !important;
      height: 270px !important;
    }
}
  
@media screen and (max-width:465px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 100% !important;
      height: 235px !important;
    }
}
  
@media screen and (max-width:400px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .three-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 100% !important;
      height: 210px !important;
      object-fit: fill;
    }
}
  
.main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
    display: block;
    position: relative;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    width: 400px !important;
    height: 400px !important;
    object-fit: fill;
}
  
@media screen and (max-width:1630px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 350px !important;
      height: 350px !important;
    }
}
  
@media screen and (max-width:1550px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 320px !important;
      height: 320px !important;
    }
}
  
@media screen and (max-width:1400px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 280px !important;
      height: 280px !important;
    }
}
  
@media screen and (max-width:1200px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 255px !important;
      height: 255px !important;
    }
}
  
@media screen and (max-width:1150px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 340px !important;
      height: 340px !important;
    }
}
  
@media screen and (max-width:1025px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 325px !important;
      height: 325px !important;
    }
}
  
@media screen and (max-width:975px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 300px !important;
      height: 300px !important;
    }
}
  
@media screen and (max-width:850px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 250px !important;
      height: 250px !important;
    }
}
  
@media screen and (max-width:750px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 230px !important;
      height: 230px !important;
    }
}
  
@media screen and (max-width:651px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 100% !important;
      height: 378px !important;
    }
}
  
@media screen and (max-width:550px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 100% !important;
      height: 300px !important;
    }
}
  
@media screen and (max-width:500px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 100% !important;
      height: 270px !important;
    }
}
  
@media screen and (max-width:465px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 100% !important;
      height: 235px !important;
    }
}
  
@media screen and (max-width:400px){
    .main .container .swiper-container .swiper-wrapper .swiper-slide .card-image .five-image {
      display: block;
      position: relative;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 100% !important;
      height: 210px !important;
    }
}
  
.swiper-pagination-bullets{
    margin-left: 2vw;
}
  
.swiper-pagination-bullet {
    opacity: 0.8;
    background-color: black;
}
  
.swiper-pagination-bullet-active {
    background-color: var(--theme-color) !important;
}
  
.main .container .swiper-container .swiper-button-next, .main .container .swiper-container .swiper-button-prev {
    background-image: none;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0;
    margin-top: -1rem;
}
  
.main .container .swiper-container .swiper-button-next .arrow-icon, .main .container .swiper-container .swiper-button-prev .arrow-icon {
    font-size: 2rem;
    color: #fff;
}
  
.swiper-button-next{
    color: black !important;
    width: 80px !important;
    height: 80px !important;
    font-weight: 900;
    text-indent: 5px;
}
  
.swiper-button-prev{
    color: black !important;
    width: 80px !important;
    height: 80px !important;
    font-weight: 900;
    text-indent: -5px;
}
  
.swiper-button-next:hover{
    color: var(--theme-color) !important;
}
  
.swiper-button-prev:hover{
    color: var(--theme-color) !important;
}
  
@media screen and (max-width:1300px){
    .swiper-container{
      max-width: 80rem !important;
    }  
    
    .swiper-button-next{
      display: none !important;
    }
    
    .swiper-button-prev{
      display: none !important;
    }
}
  
@media screen and (max-width:800px){
    .swiper-container{
      max-width: 60rem !important;
    }  
    
    .swiper-button-next{
      right: 105vw !important;
    }
    
    .swiper-button-prev{
      left: 2.7vw !important;
    }
    
    .swiper-button-prev{
      display: none !important;
    }
    
    .but{
      display: none !important;
    }
}
  
@media screen and (max-width: 500px){
    .swiper-container{
      max-width: 27rem !important;
    }
  
    .swiper-button-prev{
      display: none !important;
    }
    
    .but{
      display: none !important;
    }
}

.swiper-pagination{
    left: -12.5% !important;
}
  
@media screen and (max-width: 450px) and (min-width: 400px){
    .container-slider-glade{
      width: 100% !important;
      max-width: 100vw !important;
      transform: translateX(4%) scaleX(1.2) scaleY(1.05);
    }
  
    .swiper-pagination{
      left: -1% !important;
    }
   
}
  
@media screen and (max-width: 400px) and (min-width: 350px){
    .container-slider-glade{
      width: 100% !important;
      max-width: 100vw !important;
      transform: translateX(1%) scaleX(1.2) scaleY(1.05);
    }
  
    .swiper-pagination{
      left: -2% !important;
    }
   
}

@media (min-width: 500px){
    .swiper-container{
      width: 85%;
      max-width: 85vw;
      padding: 0% !important;
      padding-right: 0rem !important;
      margin:0% !important;
      margin-left: 7.5% !important;
    }
}

@media (max-width: 600px){
    .swiper-container{
      padding-right: 0rem !important;
    }
}
  
@media screen and (max-width: 1730px) and (min-width: 1630px){
    .swiper-container{
      padding-right: 4% !important;
    }
}