{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
<!-- ======= Intro Section ======= -->

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
 
 
 <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <section id="intro">

    <div class="intro-container">

      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">



        <ol class="carousel-indicators"></ol>



        <div class="carousel-inner" role="listbox">



          <div class="carousel-item active" style="background-image: url()">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown">Entrepreneurship Development Cell</h2>

                <p class="animate__animated animate__fadeInUp">The Official Entrepreneurship Club of NIT Durgapur.

                 </p>

                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">About Us</a>

              </div>

            </div>

          </div>



          <div class="carousel-item" style="background-image: url()">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown">E-Summit</h2></h2>

                <p class="animate__animated animate__fadeInUp">The Largest E-Summit of Eastern India</p>

                <a href="" class="btn-get-started scrollto animate__animated animate__fadeInUp">Take a peek</a>

              </div>

            </div>

          </div>



          <div class="carousel-item" style="background-image: url()">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown">Innovation Cell</h2>

                <p class="animate__animated animate__fadeInUp">Make your dreams come true.</p>

                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Check It Out</a></a>

              </div>

            </div>

          </div>



          <div class="carousel-item" style="background-image: url()">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown">Our Team</h2>

                <p class="animate__animated animate__fadeInUp">The ones who make it happen.</p>

                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Meet Us</a></a>

              </div>

            </div>

          </div>



          <div class="carousel-item" style="background-image: url()">

            <div class="carousel-container">

              <div class="container">

                <h2 class="animate__animated animate__fadeInDown">Our Alumni</h2>

                <p class="animate__animated animate__fadeInUp">The ones who have made a mark.</p>

                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Know more</a>

              </div>

            </div>

          </div>



        </div>



        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">

          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>

          <span class="sr-only">Previous</span>

        </a>



        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">

          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>

          <span class="sr-only">Next</span>

        </a>



      </div>

    </div>

  </section><!-- End Intro Section -->
  





  <main id="main">



    <!-- ======= About Us Section ======= -->

    <section id="about">

      <div class="container" data-aos="fade-up">



        <header class="section-header">

          <h3>About Us</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        </header>



        <div class="row about-cols">



          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">

            <div class="about-col">

              <div class="img">

                <img src="" alt="" class="img-fluid">

                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>

              </div>

              <h2 class="title">Innovation Cell</h2>

              <p>

                Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

              </p>

            </div>

          </div>



          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">

            <div class="about-col">

              <div class="img">

                <img src="" alt="" class="img-fluid">

                <div class="icon"><i class="ion-ios-list-outline"></i></div>

              </div>

              <h2 class="title">E-Summit</h2>

              <p>

                Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

              </p>

            </div>

          </div>



          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">

            <div class="about-col">

              <div class="img">

                <img src="" alt="" class="img-fluid">

                <div class="icon"><i class="ion-ios-eye-outline"></i></div>

              </div>

              <h2 class="title">Our Alumni</h2></h2>

              <p>

                Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.

              </p>

            </div>

          </div>



        </div>



      </div>
      

    </section><!-- End About Us Section -->



   
    <!-- ======= Events Section ======= -->
    
    <!-- End Events Section -->

	<div class="container">

     
    </head>
    
    
<br>
<br>


     <header class="section-header">

        <h3>A Photogenic Journey</h3>

      </header>
      <!-- Swiper -->
      <div class="swiper-container" data-aos="fade-up" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1597022339385-53f2814881f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width: 100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1596976736710-d7eaff8f94b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1597022339385-53f2814881f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1597022339385-53f2814881f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1596976736710-d7eaff8f94b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width: 100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1597022339385-53f2814881f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
          height:300px; width:350px;background-position: center;
          background-size: cover;">
            <div class="container" style="max-width: 300px; height: 250px;"></div>
            <div class="panel panel-default" style="background-color: rgba(0,0,0,0.7); width:  100%; height: 50px; text-align: center;">
              <div class="panel-body" style="padding-top: 10px;">Title</div>
            </div>
          </div>
          
          </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    
     

    </div>

<!-- ======= Speakers Section ======= -->

<section id="testimonials" class="section-bg">

  <div class="container" data-aos="fade-up">



    <header class="section-header">

      <h3>Past Speakers</h3>

    </header>



    <div class="owl-carousel testimonials-carousel">



      <div class="testimonial-item">

        <img src="" class="testimonial-img" alt="">

        <h3>Saul Goodman</h3>

        <h4>Ceo &amp; Founder</h4>

        <p>

          <img src="" class="quote-sign-left" alt="">

          Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.

          <img src="" class="quote-sign-right" alt="">

        </p>

      </div>




     <div class="testimonial-item">

        <img src="" class="testimonial-img" alt="">

        <h3>Sara Wilsson</h3>

        <h4>Designer</h4>

        <p>

          <img src="" class="quote-sign-left" alt="">

          Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.

          <img src="" class="quote-sign-right" alt="">

        </p>

      </div>



      <div class="testimonial-item">

        <img src="" class="testimonial-img" alt="">

        <h3>Jena Karlis</h3>

        <h4>Store Owner</h4>

        <p>

          <img src="" class="quote-sign-left" alt="">

          Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.

          <img src="" class="quote-sign-right" alt="">

        </p>

      </div>



      <div class="testimonial-item">

        <img src="" class="testimonial-img" alt="">

        <h3>Matt Brandon</h3>

        <h4>Freelancer</h4>

        <p>

          <img src="" class="quote-sign-left" alt="">

          Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.

          <img src="" class="quote-sign-right" alt="">

        </p>

      </div>



      <div class="testimonial-item">

        <img src="" class="testimonial-img" alt="">

        <h3>John Larson</h3>

        <h4>Entrepreneur</h4>

        <p>

          <img src="" class="quote-sign-left" alt="">

          Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.

          <img src="" class="quote-sign-right" alt="">

        </p>

      </div>



    </div>

    <!-- ======= End Speakers Section ======= -->
    <br>
    <br>
   


    </div>

  
</main>
{% endblock %}