{% extends 'sotm/sotm_base.html' %}
{% load static %}
{% block title %}
    Change Password
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/snippets/sotm_form.css' %}">

<section class="back-section container mb-2">
    <!-- back button -->
  <div onclick="window.history.go(-1)" class="back-btn">
    <i class="fa fa-arrow-left" aria-hidden="true"><span> BACK</span></i>
  </div>
</section>
<section class="companies">
    <div class="container-form">
        <form action="" method="post" class="total">
            {% csrf_token %}
            <p>Set&nbsp;New <br> Password</p>
            
            <fieldset>
                <input type="password" name="password" placeholder="New Password" autocomplete="new-password" required=""
                    id="id_password">
            </fieldset>

            <fieldset>
                <input type="submit" value="Change Password" class="cta-btn" name="submit" id="submit-btn">
            </fieldset>
            <div class="drops">
                <div class="drop drop-1"></div>
                <div class="drop drop-4"></div>
            </div>
        </form>

    </div>
</section>
{% endblock %}