{% extends 'sotm/sotm_base.html' %}
{% load static %}
{% block title %} Companies {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/sotm_companies.css' %}">
<!-- FAQs -->
<section class="companies">
    {% if company_list %}
        <h2>Companies</h2>
        <ul class="company_list">
            {% for company in company_list %}
                <h2>Name: {{company.company_name}}</h2>
                <h3>{{company.vision}}</h3>
                <h4>Domain : {{company.domain}}</h4>
                <h4>{% if company.positions %}
                        {% for position in company.positions.all %}
                            {{position}}
                        {% endfor %}
                    {% endif %}
                </h4>
                <h4>{{company.founders}}</h4>
                {% if company.logo %}
                    <img src="{{company.logo.url}}" height="50px" alt="{{company.name}}-image">
                {% endif %}
                <h4>founded in {{company.founding_year}}</h4>
                <a href="{% url 'sotm:company_view' company.id %}">Read more</a>
                <br>
                {% if company == owned_company %}
                    <a href="{% url 'sotm:company_edit' company.id %}">Edit</a>
                {% endif %}
            {% endfor %}
        </ul>
        <!-- Final Pagination -->
    <center>
        {%if company_list.has_previous %} {# whether the previous page exists #}
            <a href="?page={{company_list.previous_page_number}}" class="paginator-btn"><</a> {# link to the prev page #}
        {% else %}
            <a href="#" class="paginator-btn disable"><</a> {# link to the prev page #}
        {% endif %}
        <span id="current-page">{{company_list.number}}</span> {# the current page number #}  
        {%if company_list.has_next %} {# whether the next page exists #}
            <a href="?page={{company_list.next_page_number}}" class="paginator-btn">></a> {# link to the next page #}
        {% else %}
            <a href="#" class="paginator-btn disable">></a> {# link to the prev page #}
        {% endif %}
    </center>
    {% endif%}
</section>
<!-- Footer -->

<script src="{% static 'js/sotm_home.js' %}"></script>
{% endblock %}