{% extends 'sotm/sotm_base.html' %}
{% load static %}
{% block title %} Startup Of the Month {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/sotm_home.css' %}">
<!-- Carousel -->
<div class="slider" style="z-index:5;">
    <div class="slide current">
        <div class="content">
            <h1>Slide One</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                maxime, voluptatibus labore doloremque vero!
            </p>
            <a class="btn" target="__blank" href="#">Go To Somewhere</a>
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <h1>Slide Two</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                maxime, voluptatibus labore doloremque vero!
            </p>
            <a class="btn" target="__blank" href="#">Go To Somewhere</a>
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <h1>Slide Three</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                maxime, voluptatibus labore doloremque vero!
            </p>
            <a class="btn" target="__blank" href="#">Go To Somewhere</a>
        </div>
    </div>

    <div class="buttons" style="z-index:5;">
        <button id="prev"><i class="fas fa-arrow-left"></i></button>
        <button id="next"><i class="fas fa-arrow-right"></i></button>
    </div>
</div>

<!-- ABOUT US SECTION -->
<section class="About-Us">
    <div class="container">
        <div class="row align-center">
            <div class="col-sm-5 about-us">
                <div class="container-about-content">
                    <div class="heading-about">
                        <span>
                            <h1>About SOTM</h1>
                        </span>
                    </div>
                    <div class="about-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa magni nobis nisi, enim aperiam
                            quod tempora corrupti quidem dolore tenetur quam ducimus facere fugiat architecto aliquid
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa magni nobis nisi, enim aperiam
                            quod tempora corrupti
                            quidem dolore tenetur quam ducimus facere fugiat architecto aliquid
                        </p>
                    </div>
                </div>
    
            </div>
            <!-- sub headings to about us -->
            <div class="col-sm-7">
                <div class="timeline">
                    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">

                        <div class="timeline__event__content ">
                            <div class="timeline__event__title">
                                Who We Are?
                            </div>
                            <div class="timeline__event__description">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut
                                    aliquam ab
                                    asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut
                                    architecto
                                    harum quidem dolorem in!</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">

                        <div class="timeline__event__content">
                            <div class="timeline__event__title">
                                What We Provide?
                            </div>
                            <div class="timeline__event__description">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut
                                    aliquam ab
                                    asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut
                                    architecto
                                    harum quidem dolorem in!</p>
                            </div>
                        </div>

                </div>
                    <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
                        <div class="timeline__event__content">
                            <div class="timeline__event__title">
                                Our vision
                            </div>
                            <div class="timeline__event__description">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut
                                    aliquam ab
                                    asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut
                                    architecto
                                    harum quidem dolorem in!</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT US SECTION ENDED -->

<!-- internships ADDED -->
<section id="internships" class="section-bg">

  <div class="container" data-aos="fade-up">

    <header class="section-header">

      <h1 style="text-align: center;">Internships</h1>

    </header>

    <div class="owl-carousel internships-carousel">

      {% for opp in all_opportunities %}  

        <div class="testimonial-item">
            <center><img class="postcard__img rounded-circle" src="{{opp.company.logo.url}}" alt="{{company.name}}-image" width="150"
            height="150"></center>

            <h2>{{ opp.position }}</h2>

            <h4>at {{ opp.company.company_name }}</h4>
            <p>

            {{ opp.description|truncatechars:180 }}

            <br><br>
            <a href="{% url 'sotm:view_opportunity' opp.id %}">View more</a>

            </p>

        </div>
      {% endfor %}



    </div>

  </div>
</section> 

    <!-- ======= End Speakers Section ======= -->

<!-- INTERNSHIPS-VIEW STARTED -->


<!-- INTERNSHIPS VIEW ADDED -->

<!-- FAQs -->
<section class="faqs">
    {% if hero_faqs or normal_faqs %}
    <center>
        <h1 id="faq-heading">FAQs</h1>
    </center>
    <ul class="faq-holder">
        {% for faq in hero_faqs %}
        <li class="faq active" id="{{faq.id}}-faq">
            <ul class="question active" id="{{faq.id}}-question">
                <li>
                    <h3>‣ {{faq.question}}</h3>
                </li>
                <li><button onclick="toggleAnswer(this)" id="{{faq.id}}">-</button></li>
            </ul>
            <p id="{{faq.id}}-answer" class="active">{{faq.answer}}</p>
        </li>
        {% endfor %}
        {% for faq in normal_faqs %}
        <li class="faq" id="{{faq.id}}-faq">
            <ul class="question" id="{{faq.id}}-question">
                <li>
                    <h3>‣ {{faq.question}}</h3>
                </li>
                <li><button onclick="toggleAnswer(this)" id="{{faq.id}}">+</button></li>
            </ul>
            <p id="{{faq.id}}-answer">{{faq.answer}}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h2>No FAQs found</h2>
    {% endif %}
</section>


<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'js/sotm_home.js' %}"></script>
{% endblock %}