{% extends 'sotm/sotm_base.html' %}
{% load static %}
{% block title %} Internships {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/sotm_companies_profile.css' %}">
<section class="internship">
    <!-- <h2>Opportunity view</h2> -->
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{opportunity.company.logo.url}}" alt="Admin" class="rounded-circle"
                                    width="150" height="150">
                                <div class="mt-3">
                                    <h4>{{opportunity.name}} at {{opportunity.company}}</h4>
                                </div>
                                <div class="mt-3">
                                    <ul class="tags">
                                        {% for tag in opportunity.tags.all %}
                                            <li>{{tag.name}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 content-head">Opportunity Name</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{opportunity.name}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 content-head">Company Name</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{opportunity.company}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 content-head">Description</h6>
                                </div>
                                <div class="col-sm-9">
                                    {{opportunity.description}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="{% url 'sotm:company_view' opportunity.company.id %}" class="btn">Company
                                        Details</a>
                                    {% if is_student or is_owner %}
                                    <a href="{{opportunity.register_url}}" class="btn">Register link</a>
                                    {% else %}
                                    <h6 class="mt-4">You are not registered, please register to view more details</h6>
                                    {% endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->


<script src="{% static 'js/sotm_home.js' %}"></script>
{% endblock %}